### Importando dataframes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from scipy.stats import boxcox

In [2]:
# janeiro
df01 = pd.read_excel('201901-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'JAN_18_01', 'JAN_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'JAN_18_02', 'JAN_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'JAN_18_03', 'JAN_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'JAN_18_04', 'JAN_19_04', 'VAR (%)_04'])

In [3]:
# fevereiro
df02 = pd.read_excel('201902-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'FEV_18_01', 'FEV_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'FEV_18_02', 'FEV_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'FEV_18_03', 'FEV_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'FEV_18_04', 'FEV_19_04', 'VAR (%)_04'])

In [4]:
# março
df03 = pd.read_excel('201903-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'MAR_18_01', 'MAR_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'MAR_18_02', 'MAR_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'MAR_18_03', 'MAR_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'MAR_18_04', 'MAR_19_04', 'VAR (%)_04'])

In [5]:
# abril
df04 = pd.read_excel('201904-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'ABR_18_01', 'ABR_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'ABR_18_02', 'ABR_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'ABR_18_03', 'ABR_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'ABR_18_04', 'ABR_19_04', 'VAR (%)_04'])

In [6]:
# maio
df05 = pd.read_excel('201905-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'MAI_18_01', 'MAI_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'MAI_18_02', 'MAI_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'MAI_18_03', 'MAI_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'MAI_18_04', 'MAI_19_04', 'VAR (%)_04'])

In [7]:
# junho
df06 = pd.read_excel('201906-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'JUN_18_01', 'JUN_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'JUN_18_02', 'JUN_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'JUN_18_03', 'JUN_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'JUN_18_04', 'JUN_19_04', 'VAR (%)_04'])

In [8]:
# julho
df07 = pd.read_excel('201907-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'JUL_18_01', 'JUL_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'JUL_18_02', 'JUL_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'JUL_18_03', 'JUL_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'JUL_18_04', 'JUL_19_04', 'VAR (%)_04'])

In [9]:
# agosto
df08 = pd.read_excel('201908-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'AGO_18_01', 'AGO_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'AGO_18_02', 'AGO_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'AGO_18_03', 'AGO_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'AGO_18_04', 'AGO_19_04', 'VAR (%)_04'])

In [10]:
# setembro
df09 = pd.read_excel('201909-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'SET_18_01', 'SET_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'SET_18_02', 'SET_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'SET_18_03', 'SET_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'SET_18_04', 'SET_19_04', 'VAR (%)_04'])

In [11]:
# outubro
df10 = pd.read_excel('201910-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'OUT_18_01', 'OUT_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'OUT_18_02', 'OUT_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'OUT_18_03', 'OUT_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'OUT_18_04', 'OUT_19_04', 'VAR (%)_04'])

In [12]:
# novembro
df11 = pd.read_excel('201911-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'NOV_18_01', 'NOV_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'NOV_18_02', 'NOV_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'NOV_18_03', 'NOV_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'NOV_18_04', 'NOV_19_04', 'VAR (%)_04'])

In [13]:
# dezembro
df12 = pd.read_excel('201912-preco-terceiros-venda-apto-var-ano.xlsx',
                     skiprows=range(0,7), 
                     names=['BAIRROS', 'Unnamed: 1', 'DEZ_18_01', 'DEZ_19_01', 'VAR (%)_01', 'Unnamed: 5', 
                            'DEZ_18_02', 'DEZ_19_02', 'VAR (%)_02', 'Unnamed: 9',
                            'DEZ_18_03', 'DEZ_19_03', 'VAR (%)_03', 'Unnamed: 13',
                            'DEZ_18_04', 'DEZ_19_04', 'VAR (%)_04'])

In [14]:
df01.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df02.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df03.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df04.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df05.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df06.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df07.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df08.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df09.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df10.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df11.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)
df12.drop(columns=['Unnamed: 1', 'Unnamed: 5', 'Unnamed: 9', 'Unnamed: 13'], inplace=True)

In [15]:
df12.head(1)

,BAIRROS,DEZ_18_01,DEZ_19_01,VAR (%)_01,DEZ_18_02,DEZ_19_02,VAR (%)_02,DEZ_18_03,DEZ_19_03,VAR (%)_03,DEZ_18_04,DEZ_19_04,VAR (%)_04
0,ACLIMAÇÃO,8867.18,8463.92,-0.0454778,7557.76,7496.95,-0.00804574,8256.23,8577.68,0.0389348,9335.52,9566.59,0.024752

### Dataframe 1 dormitório

### Janeiro

In [16]:
df01.columns

Index(['BAIRROS', 'JAN_18_01', 'JAN_19_01', 'VAR (%)_01', 'JAN_18_02',
       'JAN_19_02', 'VAR (%)_02', 'JAN_18_03', 'JAN_19_03', 'VAR (%)_03',
       'JAN_18_04', 'JAN_19_04', 'VAR (%)_04'],
      dtype='object')

In [17]:
df01_01_18 = df01[['BAIRROS', 'JAN_18_01']]

In [18]:
df01_01_18['MES'] = 0
df01_01_18['ANO'] = 0

for index, row in df01_01_18.iterrows():
    df01_01_18['MES'] = 'JANEIRO'
    df01_01_18['ANO'] = 2018

<ipython-input-18-855af5e0d0ed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_18['MES'] = 0
<ipython-input-18-855af5e0d0ed>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_18['ANO'] = 0
<ipython-input-18-855af5e0d0ed>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_18['MES'] = 'JANEIRO'
<ipython-input-18-855af5e0d0ed>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_18['ANO'] = 2018

In [19]:
df01_01_19 = df01[['BAIRROS', 'JAN_19_01']]

df01_01_19['MES'] = 0
df01_01_19['ANO'] = 0

for index, row in df01_01_19.iterrows():
    df01_01_19['MES'] = 'JANEIRO'
    df01_01_19['ANO'] = 2019

<ipython-input-19-7354427d6cb2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_19['MES'] = 0
<ipython-input-19-7354427d6cb2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_19['ANO'] = 0
<ipython-input-19-7354427d6cb2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_19['MES'] = 'JANEIRO'
<ipython-input-19-7354427d6cb2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_01_19['ANO'] = 2019

In [20]:
df01_01_18.rename(columns={'JAN_18_01':'PRECO'}, inplace=True)

df01_01_19.rename(columns={'JAN_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [21]:
df01_01_18.head(1)

     BAIRROS    PRECO      MES   ANO
0  ACLIMAÇÃO  8664.17  JANEIRO  2018

In [22]:
janeiro = df01_01_18.append(df01_01_19)

In [23]:
janeiro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  8664.17  JANEIRO  2018
1  ALTO DA BOA VISTA  10175.4  JANEIRO  2018
2        BARRA FUNDA  9208.55  JANEIRO  2018
3         BELA VISTA  8465.83  JANEIRO  2018
4              BELÉM  5908.94  JANEIRO  2018

### Fevereiro

In [24]:
df02_01_18 = df02[['BAIRROS', 'FEV_18_01']]

df02_01_18['MES'] = 0
df02_01_18['ANO'] = 0

for index, row in df02_01_18.iterrows():
    df02_01_18['MES'] = 'FEVEREIRO'
    df02_01_18['ANO'] = 2018

<ipython-input-24-01124cf0dd03>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_18['MES'] = 0
<ipython-input-24-01124cf0dd03>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_18['ANO'] = 0
<ipython-input-24-01124cf0dd03>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_18['MES'] = 'FEVEREIRO'
<ipython-input-24-01124cf0dd03>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_18['ANO'] = 2018

In [25]:
df02_01_19 = df02[['BAIRROS', 'FEV_19_01']]

df02_01_19['MES'] = 0
df02_01_19['ANO'] = 0

for index, row in df02_01_19.iterrows():
    df02_01_19['MES'] = 'FEVEREIRO'
    df02_01_19['ANO'] = 2019

<ipython-input-25-874f86c5f78f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_19['MES'] = 0
<ipython-input-25-874f86c5f78f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_19['ANO'] = 0
<ipython-input-25-874f86c5f78f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_19['MES'] = 'FEVEREIRO'
<ipython-input-25-874f86c5f78f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_01_19['ANO'] = 2019

In [26]:
df02_01_18.rename(columns={'FEV_18_01':'PRECO'}, inplace=True)

df02_01_19.rename(columns={'FEV_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [27]:
fevereiro = df02_01_18.append(df02_01_19)

In [28]:
fevereiro.head(1)

     BAIRROS    PRECO        MES   ANO
0  ACLIMAÇÃO  8999.01  FEVEREIRO  2018

### Março

In [29]:
df03_01_18 = df03[['BAIRROS', 'MAR_18_01']]

df03_01_18['MES'] = 0
df03_01_18['ANO'] = 0

for index, row in df03_01_18.iterrows():
    df03_01_18['MES'] = 'MARCO'
    df03_01_18['ANO'] = 2018

<ipython-input-29-3cefbc4f202a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_18['MES'] = 0
<ipython-input-29-3cefbc4f202a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_18['ANO'] = 0
<ipython-input-29-3cefbc4f202a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_18['MES'] = 'MARCO'
<ipython-input-29-3cefbc4f202a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_18['ANO'] = 2018

In [30]:
df03_01_19 = df03[['BAIRROS', 'MAR_19_01']]

df03_01_19['MES'] = 0
df03_01_19['ANO'] = 0

for index, row in df03_01_19.iterrows():
    df03_01_19['MES'] = 'MARCO'
    df03_01_19['ANO'] = 2019

<ipython-input-30-924f0fa9edf9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_19['MES'] = 0
<ipython-input-30-924f0fa9edf9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_19['ANO'] = 0
<ipython-input-30-924f0fa9edf9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_19['MES'] = 'MARCO'
<ipython-input-30-924f0fa9edf9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_01_19['ANO'] = 2019

In [31]:
df03_01_18.rename(columns={'MAR_18_01':'PRECO'}, inplace=True)

df03_01_19.rename(columns={'MAR_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [32]:
marco = df03_01_18.append(df03_01_19)

In [33]:
marco.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO  8967.48  MARCO  2018
1  ALTO DA BOA VISTA  10106.7  MARCO  2018
2        BARRA FUNDA  9216.77  MARCO  2018
3         BELA VISTA  8481.77  MARCO  2018
4              BELÉM  5864.29  MARCO  2018

### Abril

In [34]:
df04_01_18 = df04[['BAIRROS', 'ABR_18_01']]

df04_01_18['MES'] = 0
df04_01_18['ANO'] = 0

for index, row in df04_01_18.iterrows():
    df04_01_18['MES'] = 'ABRIL'
    df04_01_18['ANO'] = 2018

<ipython-input-34-153e07dbc7db>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_18['MES'] = 0
<ipython-input-34-153e07dbc7db>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_18['ANO'] = 0
<ipython-input-34-153e07dbc7db>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_18['MES'] = 'ABRIL'
<ipython-input-34-153e07dbc7db>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_18['ANO'] = 2018

In [35]:
df04_01_19 = df04[['BAIRROS', 'ABR_19_01']]

df04_01_19['MES'] = 0
df04_01_19['ANO'] = 0

for index, row in df04_01_19.iterrows():
    df04_01_19['MES'] = 'ABRIL'
    df04_01_19['ANO'] = 2019

<ipython-input-35-e0867fd50dc2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_19['MES'] = 0
<ipython-input-35-e0867fd50dc2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_19['ANO'] = 0
<ipython-input-35-e0867fd50dc2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_19['MES'] = 'ABRIL'
<ipython-input-35-e0867fd50dc2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_01_19['ANO'] = 2019

In [36]:
df04_01_18.rename(columns={'ABR_18_01':'PRECO'}, inplace=True)

df04_01_19.rename(columns={'ABR_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [37]:
abril = df04_01_18.append(df04_01_19)

In [38]:
abril.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO  8995.41  ABRIL  2018
1  ALTO DA BOA VISTA  10095.7  ABRIL  2018
2        BARRA FUNDA  9097.43  ABRIL  2018
3         BELA VISTA  8420.62  ABRIL  2018
4              BELÉM  5795.03  ABRIL  2018

### Maio

In [39]:
df05_01_18 = df05[['BAIRROS', 'MAI_18_01']]

df05_01_18['MES'] = 0
df05_01_18['ANO'] = 0

for index, row in df05_01_18.iterrows():
    df05_01_18['MES'] = 'MAIO'
    df05_01_18['ANO'] = 2018

<ipython-input-39-87dae1499b32>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_18['MES'] = 0
<ipython-input-39-87dae1499b32>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_18['ANO'] = 0
<ipython-input-39-87dae1499b32>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_18['MES'] = 'MAIO'
<ipython-input-39-87dae1499b32>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_18['ANO'] = 2018

In [40]:
df05_01_19 = df05[['BAIRROS', 'MAI_19_01']]

df05_01_19['MES'] = 0
df05_01_19['ANO'] = 0

for index, row in df05_01_19.iterrows():
    df05_01_19['MES'] = 'MAIO'
    df05_01_19['ANO'] = 2019

<ipython-input-40-7fdff8d9f32b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_19['MES'] = 0
<ipython-input-40-7fdff8d9f32b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_19['ANO'] = 0
<ipython-input-40-7fdff8d9f32b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_19['MES'] = 'MAIO'
<ipython-input-40-7fdff8d9f32b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_01_19['ANO'] = 2019

In [41]:
df05_01_18.rename(columns={'MAI_18_01':'PRECO'}, inplace=True)

df05_01_19.rename(columns={'MAI_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [42]:
maio = df05_01_18.append(df05_01_19)

In [43]:
maio.head()

             BAIRROS    PRECO   MES   ANO
0          ACLIMAÇÃO     9003  MAIO  2018
1  ALTO DA BOA VISTA  10109.3  MAIO  2018
2        BARRA FUNDA  9001.47  MAIO  2018
3         BELA VISTA  8364.09  MAIO  2018
4              BELÉM  5735.53  MAIO  2018

### Junho

In [44]:
df06_01_18 = df06[['BAIRROS', 'JUN_18_01']]

df06_01_18['MES'] = 0
df06_01_18['ANO'] = 0

for index, row in df06_01_18.iterrows():
    df06_01_18['MES'] = 'JUNHO'
    df06_01_18['ANO'] = 2018

<ipython-input-44-425dd506b7dd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_18['MES'] = 0
<ipython-input-44-425dd506b7dd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_18['ANO'] = 0
<ipython-input-44-425dd506b7dd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_18['MES'] = 'JUNHO'
<ipython-input-44-425dd506b7dd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_18['ANO'] = 2018

In [45]:
df06_01_19 = df06[['BAIRROS', 'JUN_19_01']]

df06_01_19['MES'] = 0
df06_01_19['ANO'] = 0

for index, row in df06_01_19.iterrows():
    df06_01_19['MES'] = 'JUNHO'
    df06_01_19['ANO'] = 2019

<ipython-input-45-dbdcd473927e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_19['MES'] = 0
<ipython-input-45-dbdcd473927e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_19['ANO'] = 0
<ipython-input-45-dbdcd473927e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_19['MES'] = 'JUNHO'
<ipython-input-45-dbdcd473927e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_01_19['ANO'] = 2019

In [46]:
df06_01_18.rename(columns={'JUN_18_01':'PRECO'}, inplace=True)

df06_01_19.rename(columns={'JUN_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [47]:
junho = df06_01_18.append(df06_01_19)

In [48]:
junho.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO  9286.13  JUNHO  2018
1  ALTO DA BOA VISTA  10202.7  JUNHO  2018
2        BARRA FUNDA  9173.71  JUNHO  2018
3         BELA VISTA  8421.86  JUNHO  2018
4              BELÉM  5724.03  JUNHO  2018

### Julho

In [49]:
df07_01_18 = df07[['BAIRROS', 'JUL_18_01']]

df07_01_18['MES'] = 0
df07_01_18['ANO'] = 0

for index, row in df07_01_18.iterrows():
    df07_01_18['MES'] = 'JULHO'
    df07_01_18['ANO'] = 2018

<ipython-input-49-52dd8eb6a45a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_18['MES'] = 0
<ipython-input-49-52dd8eb6a45a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_18['ANO'] = 0
<ipython-input-49-52dd8eb6a45a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_18['MES'] = 'JULHO'
<ipython-input-49-52dd8eb6a45a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_18['ANO'] = 2018

In [50]:
df07_01_19 = df07[['BAIRROS', 'JUL_19_01']]

df07_01_19['MES'] = 0
df07_01_19['ANO'] = 0

for index, row in df07_01_19.iterrows():
    df07_01_19['MES'] = 'JULHO'
    df07_01_19['ANO'] = 2019

<ipython-input-50-3c39b8de7b8a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_19['MES'] = 0
<ipython-input-50-3c39b8de7b8a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_19['ANO'] = 0
<ipython-input-50-3c39b8de7b8a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_19['MES'] = 'JULHO'
<ipython-input-50-3c39b8de7b8a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_01_19['ANO'] = 2019

In [51]:
df07_01_18.rename(columns={'JUL_18_01':'PRECO'}, inplace=True)

df07_01_19.rename(columns={'JUL_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [52]:
julho = df07_01_18.append(df07_01_19)

In [53]:
julho.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO  9275.21  JULHO  2018
1  ALTO DA BOA VISTA  10222.6  JULHO  2018
2        BARRA FUNDA   9171.6  JULHO  2018
3         BELA VISTA  8463.86  JULHO  2018
4              BELÉM  5714.07  JULHO  2018

### Agosto

In [54]:
df08_01_18 = df08[['BAIRROS', 'AGO_18_01']]

df08_01_18['MES'] = 0
df08_01_18['ANO'] = 0

for index, row in df08_01_18.iterrows():
    df08_01_18['MES'] = 'AGOSTO'
    df08_01_18['ANO'] = 2018

<ipython-input-54-5fabfdfe48e6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_18['MES'] = 0
<ipython-input-54-5fabfdfe48e6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_18['ANO'] = 0
<ipython-input-54-5fabfdfe48e6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_18['MES'] = 'AGOSTO'
<ipython-input-54-5fabfdfe48e6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_18['ANO'] = 2018

In [55]:
df08_01_19 = df08[['BAIRROS', 'AGO_19_01']]

df08_01_19['MES'] = 0
df08_01_19['ANO'] = 0

for index, row in df08_01_19.iterrows():
    df08_01_19['MES'] = 'AGOSTO'
    df08_01_19['ANO'] = 2019

<ipython-input-55-e2bb00086c59>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_19['MES'] = 0
<ipython-input-55-e2bb00086c59>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_19['ANO'] = 0
<ipython-input-55-e2bb00086c59>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_19['MES'] = 'AGOSTO'
<ipython-input-55-e2bb00086c59>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_01_19['ANO'] = 2019

In [56]:
df08_01_18.rename(columns={'AGO_18_01':'PRECO'}, inplace=True)

df08_01_19.rename(columns={'AGO_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [57]:
agosto = df08_01_18.append(df08_01_19)

In [58]:
agosto.head()

             BAIRROS    PRECO     MES   ANO
0          ACLIMAÇÃO  9274.63  AGOSTO  2018
1  ALTO DA BOA VISTA  10212.2  AGOSTO  2018
2        BARRA FUNDA  9150.91  AGOSTO  2018
3         BELA VISTA  8513.97  AGOSTO  2018
4              BELÉM  5743.01  AGOSTO  2018

### Setembro

In [59]:
df09_01_18 = df09[['BAIRROS', 'SET_18_01']]

df09_01_18['MES'] = 0
df09_01_18['ANO'] = 0

for index, row in df09_01_18.iterrows():
    df09_01_18['MES'] = 'SETEMBRO'
    df09_01_18['ANO'] = 2018

<ipython-input-59-2de2823b74a8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_18['MES'] = 0
<ipython-input-59-2de2823b74a8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_18['ANO'] = 0
<ipython-input-59-2de2823b74a8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_18['MES'] = 'SETEMBRO'
<ipython-input-59-2de2823b74a8>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_18['ANO'] = 2018

In [60]:
df09_01_19 = df09[['BAIRROS', 'SET_19_01']]

df09_01_19['MES'] = 0
df09_01_19['ANO'] = 0

for index, row in df09_01_19.iterrows():
    df09_01_19['MES'] = 'SETEMBRO'
    df09_01_19['ANO'] = 2019

<ipython-input-60-ca55101b0f0c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_19['MES'] = 0
<ipython-input-60-ca55101b0f0c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_19['ANO'] = 0
<ipython-input-60-ca55101b0f0c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_19['MES'] = 'SETEMBRO'
<ipython-input-60-ca55101b0f0c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_01_19['ANO'] = 2019

In [61]:
df09_01_18.rename(columns={'SET_18_01':'PRECO'}, inplace=True)

df09_01_19.rename(columns={'SET_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [62]:
setembro = df09_01_18.append(df09_01_19)

In [63]:
setembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  9002.96  SETEMBRO  2018
1  ALTO DA BOA VISTA  10208.9  SETEMBRO  2018
2        BARRA FUNDA  8958.97  SETEMBRO  2018
3         BELA VISTA  8516.44  SETEMBRO  2018
4              BELÉM  5700.35  SETEMBRO  2018

### Outubro

In [64]:
df10_01_18 = df10[['BAIRROS', 'OUT_18_01']]

df10_01_18['MES'] = 0
df10_01_18['ANO'] = 0

for index, row in df10_01_18.iterrows():
    df10_01_18['MES'] = 'OUTUBRO'
    df10_01_18['ANO'] = 2018

<ipython-input-64-338edc065f58>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_18['MES'] = 0
<ipython-input-64-338edc065f58>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_18['ANO'] = 0
<ipython-input-64-338edc065f58>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_18['MES'] = 'OUTUBRO'
<ipython-input-64-338edc065f58>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_18['ANO'] = 2018

In [65]:
df10_01_19 = df10[['BAIRROS', 'OUT_19_01']]

df10_01_19['MES'] = 0
df10_01_19['ANO'] = 0

for index, row in df10_01_19.iterrows():
    df10_01_19['MES'] = 'OUTUBRO'
    df10_01_19['ANO'] = 2019

<ipython-input-65-0893c23006f0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_19['MES'] = 0
<ipython-input-65-0893c23006f0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_19['ANO'] = 0
<ipython-input-65-0893c23006f0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_19['MES'] = 'OUTUBRO'
<ipython-input-65-0893c23006f0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_01_19['ANO'] = 2019

In [66]:
df10_01_18.rename(columns={'OUT_18_01':'PRECO'}, inplace=True)

df10_01_19.rename(columns={'OUT_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [67]:
outubro = df10_01_18.append(df10_01_19)

In [68]:
outubro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  8967.14  OUTUBRO  2018
1  ALTO DA BOA VISTA  10216.4  OUTUBRO  2018
2        BARRA FUNDA  8945.49  OUTUBRO  2018
3         BELA VISTA  8505.93  OUTUBRO  2018
4              BELÉM  5784.27  OUTUBRO  2018

### Novembro

In [69]:
df11_01_18 = df11[['BAIRROS', 'NOV_18_01']]

df11_01_18['MES'] = 0
df11_01_18['ANO'] = 0

for index, row in df11_01_18.iterrows():
    df11_01_18['MES'] = 'NOVEMBRO'
    df11_01_18['ANO'] = 2018

<ipython-input-69-120a3c9d043d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_18['MES'] = 0
<ipython-input-69-120a3c9d043d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_18['ANO'] = 0
<ipython-input-69-120a3c9d043d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_18['MES'] = 'NOVEMBRO'
<ipython-input-69-120a3c9d043d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_18['ANO'] = 2018

In [70]:
df11_01_19 = df11[['BAIRROS', 'NOV_19_01']]

df11_01_19['MES'] = 0
df11_01_19['ANO'] = 0

for index, row in df11_01_19.iterrows():
    df11_01_19['MES'] = 'NOVEMBRO'
    df11_01_19['ANO'] = 2019

<ipython-input-70-887574410d34>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_19['MES'] = 0
<ipython-input-70-887574410d34>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_19['ANO'] = 0
<ipython-input-70-887574410d34>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_19['MES'] = 'NOVEMBRO'
<ipython-input-70-887574410d34>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_01_19['ANO'] = 2019

In [71]:
df11_01_18.rename(columns={'NOV_18_01':'PRECO'}, inplace=True)

df11_01_19.rename(columns={'NOV_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [72]:
novembro = df11_01_18.append(df11_01_19)

In [73]:
novembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  8913.19  NOVEMBRO  2018
1  ALTO DA BOA VISTA  10233.1  NOVEMBRO  2018
2        BARRA FUNDA  8940.16  NOVEMBRO  2018
3         BELA VISTA     8508  NOVEMBRO  2018
4              BELÉM  5910.61  NOVEMBRO  2018

### Dezembro

In [74]:
df12_01_18 = df12[['BAIRROS', 'DEZ_18_01']]

df12_01_18['MES'] = 0
df12_01_18['ANO'] = 0

for index, row in df12_01_18.iterrows():
    df12_01_18['MES'] = 'DEZEMBRO'
    df12_01_18['ANO'] = 2018

<ipython-input-74-d272a45e408d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_18['MES'] = 0
<ipython-input-74-d272a45e408d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_18['ANO'] = 0
<ipython-input-74-d272a45e408d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_18['MES'] = 'DEZEMBRO'
<ipython-input-74-d272a45e408d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_18['ANO'] = 2018

In [75]:
df12_01_19 = df12[['BAIRROS', 'DEZ_19_01']]

df12_01_19['MES'] = 0
df12_01_19['ANO'] = 0

for index, row in df12_01_19.iterrows():
    df12_01_19['MES'] = 'DEZEMBRO'
    df12_01_19['ANO'] = 2019

<ipython-input-75-86691fa95940>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_19['MES'] = 0
<ipython-input-75-86691fa95940>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_19['ANO'] = 0
<ipython-input-75-86691fa95940>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_19['MES'] = 'DEZEMBRO'
<ipython-input-75-86691fa95940>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_01_19['ANO'] = 2019

In [76]:
df12_01_18.rename(columns={'DEZ_18_01':'PRECO'}, inplace=True)

df12_01_19.rename(columns={'DEZ_19_01':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [77]:
dezembro = df12_01_18.append(df12_01_19)

In [78]:
dezembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  8867.18  DEZEMBRO  2018
1  ALTO DA BOA VISTA    10272  DEZEMBRO  2018
2        BARRA FUNDA   8998.9  DEZEMBRO  2018
3         BELA VISTA  8543.23  DEZEMBRO  2018
4              BELÉM  5954.94  DEZEMBRO  2018

### Concatenando dataframes
Criação de dataframe dormitorio_01, que representa dados de imóveis com único dormitório.

In [81]:
dormitorio_01 = pd.concat([janeiro, fevereiro, marco, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro])

In [82]:
dormitorio_01.reset_index(drop=True, inplace=True)

In [85]:
dormitorio_01['n_dormitorios'] = 0

for index, row in dormitorio_01.iterrows():
    dormitorio_01['n_dormitorios'] = 1

In [86]:
dormitorio_01

                BAIRROS    PRECO       MES   ANO  n_dormitorios
0             ACLIMAÇÃO  8664.17   JANEIRO  2018              1
1     ALTO DA BOA VISTA  10175.4   JANEIRO  2018              1
2           BARRA FUNDA  9208.55   JANEIRO  2018              1
3            BELA VISTA  8465.83   JANEIRO  2018              1
4                 BELÉM  5908.94   JANEIRO  2018              1
...                 ...      ...       ...   ...            ...
1579       VILA OLÍMPIA  15040.4  DEZEMBRO  2019              1
1580      VILA PRUDENTE  6411.92  DEZEMBRO  2019              1
1581        VILA ROMANA   6992.1  DEZEMBRO  2019              1
1582         VILA SÔNIA  7149.61  DEZEMBRO  2019              1
1583   Fonte: Secovi-SP      NaN  DEZEMBRO  2019              1

[1584 rows x 5 columns]

### Dataframe 2 dormitórios

In [87]:
df01.head(1)

,BAIRROS,JAN_18_01,JAN_19_01,VAR (%)_01,JAN_18_02,JAN_19_02,VAR (%)_02,JAN_18_03,JAN_19_03,VAR (%)_03,JAN_18_04,JAN_19_04,VAR (%)_04
0,ACLIMAÇÃO,8664.17,8812.46,0.0171157,7699.85,7585.1794,-0.0148923,8429.77,8340.856638,-0.010547,9363.87,9368.55,0.000499848

### Janeiro

In [93]:
df01_02_18 = df01[['BAIRROS', 'JAN_18_02']]

df01_02_18['MES'] = 0
df01_02_18['ANO'] = 0

for index, row in df01_02_18.iterrows():
    df01_02_18['MES'] = 'JANEIRO'
    df01_02_18['ANO'] = 2018

<ipython-input-93-55cc7c154a7e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_18['MES'] = 0
<ipython-input-93-55cc7c154a7e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_18['ANO'] = 0
<ipython-input-93-55cc7c154a7e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_18['MES'] = 'JANEIRO'
<ipython-input-93-55cc7c154a7e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_18['ANO'] = 2018

In [94]:
df01_02_19 = df01[['BAIRROS', 'JAN_19_02']]

df01_02_19['MES'] = 0
df01_02_19['ANO'] = 0

for index, row in df01_02_19.iterrows():
    df01_02_19['MES'] = 'JANEIRO'
    df01_02_19['ANO'] = 2019

<ipython-input-94-c66065ea809f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_19['MES'] = 0
<ipython-input-94-c66065ea809f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_19['ANO'] = 0
<ipython-input-94-c66065ea809f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_19['MES'] = 'JANEIRO'
<ipython-input-94-c66065ea809f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_02_19['ANO'] = 2019

In [95]:
df01_02_18.rename(columns={'JAN_18_02':'PRECO'}, inplace=True)

df01_02_19.rename(columns={'JAN_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [96]:
janeiro = df01_02_18.append(df01_02_19)

In [97]:
janeiro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  7699.85  JANEIRO  2018
1  ALTO DA BOA VISTA  8808.43  JANEIRO  2018
2        BARRA FUNDA  8552.75  JANEIRO  2018
3         BELA VISTA  7818.03  JANEIRO  2018
4              BELÉM  6482.47  JANEIRO  2018

### Fevereiro

In [98]:
df02_02_18 = df02[['BAIRROS', 'FEV_18_02']]

df02_02_18['MES'] = 0
df02_02_18['ANO'] = 0

for index, row in df02_02_18.iterrows():
    df02_02_18['MES'] = 'FEVEREIRO'
    df02_02_18['ANO'] = 2018

<ipython-input-98-6298858cdbdf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_18['MES'] = 0
<ipython-input-98-6298858cdbdf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_18['ANO'] = 0
<ipython-input-98-6298858cdbdf>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_18['MES'] = 'FEVEREIRO'
<ipython-input-98-6298858cdbdf>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_18['ANO'] = 2018

In [99]:
df02_02_19 = df02[['BAIRROS', 'FEV_19_02']]

df02_02_19['MES'] = 0
df02_02_19['ANO'] = 0

for index, row in df02_01_19.iterrows():
    df02_02_19['MES'] = 'FEVEREIRO'
    df02_02_19['ANO'] = 2019

<ipython-input-99-1f75125921e0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_19['MES'] = 0
<ipython-input-99-1f75125921e0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_19['ANO'] = 0
<ipython-input-99-1f75125921e0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_19['MES'] = 'FEVEREIRO'
<ipython-input-99-1f75125921e0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_02_19['ANO'] = 2019

In [100]:
df02_02_18.rename(columns={'FEV_18_02':'PRECO'}, inplace=True)

df02_02_19.rename(columns={'FEV_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [101]:
fevereiro = df02_02_18.append(df02_02_19)

In [102]:
fevereiro.head()

             BAIRROS    PRECO        MES   ANO
0          ACLIMAÇÃO  7645.19  FEVEREIRO  2018
1  ALTO DA BOA VISTA  8715.33  FEVEREIRO  2018
2        BARRA FUNDA  8463.42  FEVEREIRO  2018
3         BELA VISTA  7667.38  FEVEREIRO  2018
4              BELÉM  6600.04  FEVEREIRO  2018

### Março

In [103]:
df03_02_18 = df03[['BAIRROS', 'MAR_18_02']]

df03_02_18['MES'] = 0
df03_02_18['ANO'] = 0

for index, row in df03_02_18.iterrows():
    df03_02_18['MES'] = 'MARCO'
    df03_02_18['ANO'] = 2018

<ipython-input-103-003c3c9f73fd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_18['MES'] = 0
<ipython-input-103-003c3c9f73fd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_18['ANO'] = 0
<ipython-input-103-003c3c9f73fd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_18['MES'] = 'MARCO'
<ipython-input-103-003c3c9f73fd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_18['ANO'] = 2018

In [104]:
df03_02_19 = df03[['BAIRROS', 'MAR_19_02']]

df03_02_19['MES'] = 0
df03_02_19['ANO'] = 0

for index, row in df03_01_19.iterrows():
    df03_02_19['MES'] = 'MARCO'
    df03_02_19['ANO'] = 2019

<ipython-input-104-b110b247bd7e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_19['MES'] = 0
<ipython-input-104-b110b247bd7e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_19['ANO'] = 0
<ipython-input-104-b110b247bd7e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_19['MES'] = 'MARCO'
<ipython-input-104-b110b247bd7e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_02_19['ANO'] = 2019

In [105]:
df03_02_18.rename(columns={'MAR_18_02':'PRECO'}, inplace=True)

df03_02_19.rename(columns={'MAR_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [106]:
marco = df03_02_18.append(df03_02_19)

In [107]:
marco.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  7464.108686  MARCO  2018
1  ALTO DA BOA VISTA  8613.306874  MARCO  2018
2        BARRA FUNDA  8295.009221  MARCO  2018
3         BELA VISTA  7420.108949  MARCO  2018
4              BELÉM  6594.487430  MARCO  2018

### Abril

In [108]:
df04_02_18 = df04[['BAIRROS', 'ABR_18_02']]

df04_02_18['MES'] = 0
df04_02_18['ANO'] = 0

for index, row in df04_02_18.iterrows():
    df04_02_18['MES'] = 'ABRIL'
    df04_02_18['ANO'] = 2018

<ipython-input-108-edfbfa16be6b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_18['MES'] = 0
<ipython-input-108-edfbfa16be6b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_18['ANO'] = 0
<ipython-input-108-edfbfa16be6b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_18['MES'] = 'ABRIL'
<ipython-input-108-edfbfa16be6b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_18['ANO'] = 2018

In [109]:
df04_02_19 = df04[['BAIRROS', 'ABR_19_02']]

df04_02_19['MES'] = 0
df04_02_19['ANO'] = 0

for index, row in df04_01_19.iterrows():
    df04_02_19['MES'] = 'ABRIL'
    df04_02_19['ANO'] = 2019

<ipython-input-109-fe2e0ff6e0a5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_19['MES'] = 0
<ipython-input-109-fe2e0ff6e0a5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_19['ANO'] = 0
<ipython-input-109-fe2e0ff6e0a5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_19['MES'] = 'ABRIL'
<ipython-input-109-fe2e0ff6e0a5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_02_19['ANO'] = 2019

In [110]:
df04_02_18.rename(columns={'ABR_18_02':'PRECO'}, inplace=True)

df04_02_19.rename(columns={'ABR_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [111]:
abril = df04_02_18.append(df04_02_19)

In [112]:
abril.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  7512.648013  ABRIL  2018
1  ALTO DA BOA VISTA  8646.392574  ABRIL  2018
2        BARRA FUNDA  8255.862698  ABRIL  2018
3         BELA VISTA  7358.091094  ABRIL  2018
4              BELÉM  6660.726851  ABRIL  2018

### Maio

In [113]:
df05_02_18 = df05[['BAIRROS', 'MAI_18_02']]

df05_02_18['MES'] = 0
df05_02_18['ANO'] = 0

for index, row in df05_02_18.iterrows():
    df05_02_18['MES'] = 'MAIO'
    df05_02_18['ANO'] = 2018

<ipython-input-113-acaa8a06c155>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_18['MES'] = 0
<ipython-input-113-acaa8a06c155>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_18['ANO'] = 0
<ipython-input-113-acaa8a06c155>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_18['MES'] = 'MAIO'
<ipython-input-113-acaa8a06c155>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_18['ANO'] = 2018

In [114]:
df05_02_19 = df05[['BAIRROS', 'MAI_19_02']]

df05_02_19['MES'] = 0
df05_02_19['ANO'] = 0

for index, row in df05_01_19.iterrows():
    df05_02_19['MES'] = 'MAIO'
    df05_02_19['ANO'] = 2019

<ipython-input-114-95992cec8304>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_19['MES'] = 0
<ipython-input-114-95992cec8304>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_19['ANO'] = 0
<ipython-input-114-95992cec8304>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_19['MES'] = 'MAIO'
<ipython-input-114-95992cec8304>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_02_19['ANO'] = 2019

In [115]:
df05_02_18.rename(columns={'MAI_18_02':'PRECO'}, inplace=True)

df05_02_19.rename(columns={'MAI_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [116]:
maio = df05_02_18.append(df05_02_19)

In [117]:
maio.head()

             BAIRROS        PRECO   MES   ANO
0          ACLIMAÇÃO  7585.623778  MAIO  2018
1  ALTO DA BOA VISTA  8764.156117  MAIO  2018
2        BARRA FUNDA  8264.170276  MAIO  2018
3         BELA VISTA  7289.211775  MAIO  2018
4              BELÉM  6713.209507  MAIO  2018

### Junho

In [118]:
df06_02_18 = df06[['BAIRROS', 'JUN_18_02']]

df06_02_18['MES'] = 0
df06_02_18['ANO'] = 0

for index, row in df06_02_18.iterrows():
    df06_02_18['MES'] = 'JUNHO'
    df06_02_18['ANO'] = 2018

<ipython-input-118-68ddb01a2f52>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_18['MES'] = 0
<ipython-input-118-68ddb01a2f52>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_18['ANO'] = 0
<ipython-input-118-68ddb01a2f52>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_18['MES'] = 'JUNHO'
<ipython-input-118-68ddb01a2f52>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_18['ANO'] = 2018

In [119]:
df06_02_19 = df06[['BAIRROS', 'JUN_19_02']]

df06_02_19['MES'] = 0
df06_02_19['ANO'] = 0

for index, row in df06_01_19.iterrows():
    df06_02_19['MES'] = 'JUNHO'
    df06_02_19['ANO'] = 2019

<ipython-input-119-77b079ce0828>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_19['MES'] = 0
<ipython-input-119-77b079ce0828>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_19['ANO'] = 0
<ipython-input-119-77b079ce0828>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_19['MES'] = 'JUNHO'
<ipython-input-119-77b079ce0828>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_02_19['ANO'] = 2019

In [120]:
df06_02_18.rename(columns={'JUN_18_02':'PRECO'}, inplace=True)

df06_02_19.rename(columns={'JUN_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [121]:
junho = df06_02_18.append(df06_02_19)

In [122]:
junho.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  7948.548960  JUNHO  2018
1  ALTO DA BOA VISTA  8942.018429  JUNHO  2018
2        BARRA FUNDA  8462.415336  JUNHO  2018
3         BELA VISTA  7573.170525  JUNHO  2018
4              BELÉM  6843.194751  JUNHO  2018

### Julho

In [123]:
df07_02_18 = df07[['BAIRROS', 'JUL_18_02']]

df07_02_18['MES'] = 0
df07_02_18['ANO'] = 0

for index, row in df07_02_18.iterrows():
    df07_02_18['MES'] = 'JULHO'
    df07_02_18['ANO'] = 2018

<ipython-input-123-aaf95c3b173b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_18['MES'] = 0
<ipython-input-123-aaf95c3b173b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_18['ANO'] = 0
<ipython-input-123-aaf95c3b173b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_18['MES'] = 'JULHO'
<ipython-input-123-aaf95c3b173b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_18['ANO'] = 2018

In [124]:
df07_02_19 = df07[['BAIRROS', 'JUL_19_02']]

df07_02_19['MES'] = 0
df07_02_19['ANO'] = 0

for index, row in df07_01_19.iterrows():
    df07_02_19['MES'] = 'JULHO'
    df07_02_19['ANO'] = 2019

<ipython-input-124-3b254b18c3e3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_19['MES'] = 0
<ipython-input-124-3b254b18c3e3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_19['ANO'] = 0
<ipython-input-124-3b254b18c3e3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_19['MES'] = 'JULHO'
<ipython-input-124-3b254b18c3e3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_02_19['ANO'] = 2019

In [125]:
df07_02_18.rename(columns={'JUL_18_02':'PRECO'}, inplace=True)

df07_02_19.rename(columns={'JUL_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [126]:
julho = df07_02_18.append(df07_02_19)

In [127]:
julho.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  7966.213107  JULHO  2018
1  ALTO DA BOA VISTA  8994.730616  JULHO  2018
2        BARRA FUNDA  8478.231003  JULHO  2018
3         BELA VISTA  7591.830255  JULHO  2018
4              BELÉM  6771.724663  JULHO  2018

### Agosto

In [128]:
df08_02_18 = df08[['BAIRROS', 'AGO_18_02']]

df08_02_18['MES'] = 0
df08_02_18['ANO'] = 0

for index, row in df08_02_18.iterrows():
    df08_02_18['MES'] = 'AGOSTO'
    df08_02_18['ANO'] = 2018

<ipython-input-128-69fda1d5f9c4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_18['MES'] = 0
<ipython-input-128-69fda1d5f9c4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_18['ANO'] = 0
<ipython-input-128-69fda1d5f9c4>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_18['MES'] = 'AGOSTO'
<ipython-input-128-69fda1d5f9c4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_18['ANO'] = 2018

In [131]:
df08_02_19 = df08[['BAIRROS', 'AGO_19_02']]

df08_02_19['MES'] = 0
df08_02_19['ANO'] = 0

for index, row in df08_01_19.iterrows():
    df08_02_19['MES'] = 'AGOSTO'
    df08_02_19['ANO'] = 2019

<ipython-input-131-f18ccadf79f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_19['MES'] = 0
<ipython-input-131-f18ccadf79f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_19['ANO'] = 0
<ipython-input-131-f18ccadf79f3>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_19['MES'] = 'AGOSTO'
<ipython-input-131-f18ccadf79f3>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_02_19['ANO'] = 2019

In [132]:
df08_02_18.rename(columns={'AGO_18_02':'PRECO'}, inplace=True)

df08_02_19.rename(columns={'AGO_19_02':'PRECO'}, inplace=True)

In [133]:
agosto = df08_02_18.append(df08_02_19)

In [134]:
agosto.head()

             BAIRROS    PRECO     MES   ANO
0          ACLIMAÇÃO  7973.77  AGOSTO  2018
1  ALTO DA BOA VISTA  8999.97  AGOSTO  2018
2        BARRA FUNDA  8495.17  AGOSTO  2018
3         BELA VISTA  7615.52  AGOSTO  2018
4              BELÉM  6691.42  AGOSTO  2018

### Setembro

In [135]:
df09_02_18 = df09[['BAIRROS', 'SET_18_02']]

df09_02_18['MES'] = 0
df09_02_18['ANO'] = 0

for index, row in df09_02_18.iterrows():
    df09_02_18['MES'] = 'SETEMBRO'
    df09_02_18['ANO'] = 2018

<ipython-input-135-f30c7a4561ea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_18['MES'] = 0
<ipython-input-135-f30c7a4561ea>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_18['ANO'] = 0
<ipython-input-135-f30c7a4561ea>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_18['MES'] = 'SETEMBRO'
<ipython-input-135-f30c7a4561ea>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_18['ANO'] = 2018

In [136]:
df09_02_19 = df09[['BAIRROS', 'SET_19_02']]

df09_02_19['MES'] = 0
df09_02_19['ANO'] = 0

for index, row in df09_01_19.iterrows():
    df09_02_19['MES'] = 'SETEMBRO'
    df09_02_19['ANO'] = 2019

<ipython-input-136-d3b994cfa21f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_19['MES'] = 0
<ipython-input-136-d3b994cfa21f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_19['ANO'] = 0
<ipython-input-136-d3b994cfa21f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_19['MES'] = 'SETEMBRO'
<ipython-input-136-d3b994cfa21f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_02_19['ANO'] = 2019

In [137]:
df09_02_18.rename(columns={'SET_18_02':'PRECO'}, inplace=True)

df09_02_19.rename(columns={'SET_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [138]:
setembro = df09_02_18.append(df09_02_19)

In [139]:
setembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  7738.06  SETEMBRO  2018
1  ALTO DA BOA VISTA  8955.14  SETEMBRO  2018
2        BARRA FUNDA   8417.3  SETEMBRO  2018
3         BELA VISTA  7540.58  SETEMBRO  2018
4              BELÉM  6553.31  SETEMBRO  2018

### Outubro

In [140]:
df10_02_18 = df10[['BAIRROS', 'OUT_18_02']]

df10_02_18['MES'] = 0
df10_02_18['ANO'] = 0

for index, row in df10_02_18.iterrows():
    df10_02_18['MES'] = 'OUTUBRO'
    df10_02_18['ANO'] = 2018

<ipython-input-140-dafd24110410>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_18['MES'] = 0
<ipython-input-140-dafd24110410>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_18['ANO'] = 0
<ipython-input-140-dafd24110410>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_18['MES'] = 'OUTUBRO'
<ipython-input-140-dafd24110410>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_18['ANO'] = 2018

In [141]:
df10_02_19 = df10[['BAIRROS', 'OUT_19_02']]

df10_02_19['MES'] = 0
df10_02_19['ANO'] = 0

for index, row in df10_01_19.iterrows():
    df10_02_19['MES'] = 'OUTUBRO'
    df10_02_19['ANO'] = 2019

<ipython-input-141-7143701e3d3f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_19['MES'] = 0
<ipython-input-141-7143701e3d3f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_19['ANO'] = 0
<ipython-input-141-7143701e3d3f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_19['MES'] = 'OUTUBRO'
<ipython-input-141-7143701e3d3f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_02_19['ANO'] = 2019

In [142]:
df10_02_18.rename(columns={'OUT_18_02':'PRECO'}, inplace=True)

df10_02_19.rename(columns={'OUT_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [143]:
outubro = df10_02_18.append(df10_02_19)

In [144]:
outubro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  7712.24  OUTUBRO  2018
1  ALTO DA BOA VISTA  8979.28  OUTUBRO  2018
2        BARRA FUNDA  8390.73  OUTUBRO  2018
3         BELA VISTA  7544.74  OUTUBRO  2018
4              BELÉM  6556.21  OUTUBRO  2018

### Novembro

In [145]:
df11_02_18 = df11[['BAIRROS', 'NOV_18_02']]

df11_02_18['MES'] = 0
df11_02_18['ANO'] = 0

for index, row in df11_02_18.iterrows():
    df11_02_18['MES'] = 'NOVEMBRO'
    df11_02_18['ANO'] = 2018

<ipython-input-145-23c85d32bfbf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_18['MES'] = 0
<ipython-input-145-23c85d32bfbf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_18['ANO'] = 0
<ipython-input-145-23c85d32bfbf>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_18['MES'] = 'NOVEMBRO'
<ipython-input-145-23c85d32bfbf>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_18['ANO'] = 2018

In [146]:
df11_02_19 = df11[['BAIRROS', 'NOV_19_02']]

df11_02_19['MES'] = 0
df11_02_19['ANO'] = 0

for index, row in df11_01_19.iterrows():
    df11_02_19['MES'] = 'NOVEMBRO'
    df11_02_19['ANO'] = 2019

<ipython-input-146-a035a167aec2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_19['MES'] = 0
<ipython-input-146-a035a167aec2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_19['ANO'] = 0
<ipython-input-146-a035a167aec2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_19['MES'] = 'NOVEMBRO'
<ipython-input-146-a035a167aec2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_02_19['ANO'] = 2019

In [147]:
df11_02_18.rename(columns={'NOV_18_02':'PRECO'}, inplace=True)

df11_02_19.rename(columns={'NOV_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [148]:
novembro = df11_02_18.append(df11_02_19)

In [149]:
novembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  7654.61  NOVEMBRO  2018
1  ALTO DA BOA VISTA  9010.57  NOVEMBRO  2018
2        BARRA FUNDA  8341.31  NOVEMBRO  2018
3         BELA VISTA  7576.52  NOVEMBRO  2018
4              BELÉM  6581.85  NOVEMBRO  2018

### Dezembro

In [150]:
df12_02_18 = df12[['BAIRROS', 'DEZ_18_02']]

df12_02_18['MES'] = 0
df12_02_18['ANO'] = 0

for index, row in df12_02_18.iterrows():
    df12_02_18['MES'] = 'DEZEMBRO'
    df12_02_18['ANO'] = 2018

<ipython-input-150-b375f56e87f5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_18['MES'] = 0
<ipython-input-150-b375f56e87f5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_18['ANO'] = 0
<ipython-input-150-b375f56e87f5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_18['MES'] = 'DEZEMBRO'
<ipython-input-150-b375f56e87f5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_18['ANO'] = 2018

In [163]:
df12_02_19 = df12[['BAIRROS', 'DEZ_19_02']]

df12_02_19['MES'] = 0
df12_02_19['ANO'] = 0

for index, row in df12_02_19.iterrows():
    df12_02_19['MES'] = 'DEZEMBRO'
    df12_02_19['ANO'] = 2019

<ipython-input-163-428410d28de9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_19['MES'] = 0
<ipython-input-163-428410d28de9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_19['ANO'] = 0
<ipython-input-163-428410d28de9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_19['MES'] = 'DEZEMBRO'
<ipython-input-163-428410d28de9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_02_19['ANO'] = 2019

In [164]:
df12_02_18.rename(columns={'DEZ_18_02':'PRECO'}, inplace=True)

df12_02_19.rename(columns={'DEZ_19_02':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [165]:
dezembro = df12_02_18.append(df12_02_19)

In [166]:
dezembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  7557.76  DEZEMBRO  2018
1  ALTO DA BOA VISTA  9001.09  DEZEMBRO  2018
2        BARRA FUNDA  8306.62  DEZEMBRO  2018
3         BELA VISTA  7476.69  DEZEMBRO  2018
4              BELÉM  6606.54  DEZEMBRO  2018

### Concatenando dataframes

In [167]:
dormitorio_02 = pd.concat([janeiro, fevereiro, marco, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro])

In [168]:
dormitorio_02.reset_index(drop=True, inplace=True)

In [169]:
dormitorio_02['n_dormitorios'] = 0

for index, row in dormitorio_02.iterrows():
    dormitorio_02['n_dormitorios'] = 2

In [170]:
dormitorio_02

                BAIRROS    PRECO       MES   ANO  n_dormitorios
0             ACLIMAÇÃO  7699.85   JANEIRO  2018              2
1     ALTO DA BOA VISTA  8808.43   JANEIRO  2018              2
2           BARRA FUNDA  8552.75   JANEIRO  2018              2
3            BELA VISTA  7818.03   JANEIRO  2018              2
4                 BELÉM  6482.47   JANEIRO  2018              2
...                 ...      ...       ...   ...            ...
1579       VILA OLÍMPIA    10739  DEZEMBRO  2019              2
1580      VILA PRUDENTE  6176.02  DEZEMBRO  2019              2
1581        VILA ROMANA  9439.11  DEZEMBRO  2019              2
1582         VILA SÔNIA  6263.38  DEZEMBRO  2019              2
1583   Fonte: Secovi-SP      NaN  DEZEMBRO  2019              2

[1584 rows x 5 columns]

### Dataframe 3 Dormitórios

In [162]:
df01.head(1)

,BAIRROS,JAN_18_01,JAN_19_01,VAR (%)_01,JAN_18_02,JAN_19_02,VAR (%)_02,JAN_18_03,JAN_19_03,VAR (%)_03,JAN_18_04,JAN_19_04,VAR (%)_04
0,ACLIMAÇÃO,8664.17,8812.46,0.0171157,7699.85,7585.1794,-0.0148923,8429.77,8340.856638,-0.010547,9363.87,9368.55,0.000499848

### Janeiro

In [171]:
df01_03_18 = df01[['BAIRROS', 'JAN_18_03']]

df01_03_18['MES'] = 0
df01_03_18['ANO'] = 0

for index, row in df01_03_18.iterrows():
    df01_03_18['MES'] = 'JANEIRO'
    df01_03_18['ANO'] = 2018

<ipython-input-171-3c402a8850c1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_18['MES'] = 0
<ipython-input-171-3c402a8850c1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_18['ANO'] = 0
<ipython-input-171-3c402a8850c1>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_18['MES'] = 'JANEIRO'
<ipython-input-171-3c402a8850c1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_18['ANO'] = 2018

In [172]:
df01_03_19 = df01[['BAIRROS', 'JAN_19_03']]

df01_03_19['MES'] = 0
df01_03_19['ANO'] = 0

for index, row in df01_03_19.iterrows():
    df01_03_19['MES'] = 'JANEIRO'
    df01_03_19['ANO'] = 2019

<ipython-input-172-d4566b7869ca>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_19['MES'] = 0
<ipython-input-172-d4566b7869ca>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_19['ANO'] = 0
<ipython-input-172-d4566b7869ca>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_19['MES'] = 'JANEIRO'
<ipython-input-172-d4566b7869ca>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_03_19['ANO'] = 2019

In [173]:
df01_03_18.rename(columns={'JAN_18_03':'PRECO'}, inplace=True)

df01_03_19.rename(columns={'JAN_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [174]:
janeiro = df01_03_18.append(df01_03_19)

In [175]:
janeiro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  8429.77  JANEIRO  2018
1  ALTO DA BOA VISTA  7995.22  JANEIRO  2018
2        BARRA FUNDA  8776.74  JANEIRO  2018
3         BELA VISTA  7694.73  JANEIRO  2018
4              BELÉM  6559.89  JANEIRO  2018

### Fevereiro

In [176]:
df02_03_18 = df02[['BAIRROS', 'FEV_18_03']]

df02_03_18['MES'] = 0
df02_03_18['ANO'] = 0

for index, row in df02_03_18.iterrows():
    df02_03_18['MES'] = 'FEVEREIRO'
    df02_03_18['ANO'] = 2018

<ipython-input-176-c2eea7bb49f6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_18['MES'] = 0
<ipython-input-176-c2eea7bb49f6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_18['ANO'] = 0
<ipython-input-176-c2eea7bb49f6>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_18['MES'] = 'FEVEREIRO'
<ipython-input-176-c2eea7bb49f6>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_18['ANO'] = 2018

In [177]:
df02_03_19 = df02[['BAIRROS', 'FEV_19_03']]

df02_03_19['MES'] = 0
df02_03_19['ANO'] = 0

for index, row in df02_03_19.iterrows():
    df02_03_19['MES'] = 'FEVEREIRO'
    df02_03_19['ANO'] = 2019

<ipython-input-177-edfb0cc68d11>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_19['MES'] = 0
<ipython-input-177-edfb0cc68d11>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_19['ANO'] = 0
<ipython-input-177-edfb0cc68d11>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_19['MES'] = 'FEVEREIRO'
<ipython-input-177-edfb0cc68d11>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_03_19['ANO'] = 2019

In [178]:
df02_03_18.rename(columns={'FEV_18_03':'PRECO'}, inplace=True)

df02_03_19.rename(columns={'FEV_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [179]:
fevereiro = df02_03_18.append(df02_03_19)

In [180]:
fevereiro.head()

             BAIRROS    PRECO        MES   ANO
0          ACLIMAÇÃO  8449.02  FEVEREIRO  2018
1  ALTO DA BOA VISTA   8015.8  FEVEREIRO  2018
2        BARRA FUNDA  8757.24  FEVEREIRO  2018
3         BELA VISTA     7649  FEVEREIRO  2018
4              BELÉM  6550.47  FEVEREIRO  2018

### Março

In [181]:
df03_03_18 = df03[['BAIRROS', 'MAR_18_03']]

df03_03_18['MES'] = 0
df03_03_18['ANO'] = 0

for index, row in df03_03_18.iterrows():
    df03_03_18['MES'] = 'MARCO'
    df03_03_18['ANO'] = 2018

<ipython-input-181-77585b277ded>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_18['MES'] = 0
<ipython-input-181-77585b277ded>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_18['ANO'] = 0
<ipython-input-181-77585b277ded>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_18['MES'] = 'MARCO'
<ipython-input-181-77585b277ded>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_18['ANO'] = 2018

In [186]:
df03_03_19 = df03[['BAIRROS', 'MAR_19_03']]

df03_03_19['MES'] = 0
df03_03_19['ANO'] = 0

for index, row in df03_03_19.iterrows():
    df03_03_19['MES'] = 'MARCO'
    df03_03_19['ANO'] = 2019

<ipython-input-186-22ac77807d1b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_19['MES'] = 0
<ipython-input-186-22ac77807d1b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_19['ANO'] = 0
<ipython-input-186-22ac77807d1b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_19['MES'] = 'MARCO'
<ipython-input-186-22ac77807d1b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_03_19['ANO'] = 2019

In [187]:
df03_03_18.rename(columns={'MAR_18_03':'PRECO'}, inplace=True)

df03_03_19.rename(columns={'MAR_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [188]:
marco = df03_03_18.append(df03_03_19)

In [189]:
marco.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  8730.518616  MARCO  2018
1  ALTO DA BOA VISTA  8189.723412  MARCO  2018
2        BARRA FUNDA  8788.610781  MARCO  2018
3         BELA VISTA  7822.466181  MARCO  2018
4              BELÉM  6503.098131  MARCO  2018

### Abril

In [190]:
df04_03_18 = df04[['BAIRROS', 'ABR_18_03']]

df04_03_18['MES'] = 0
df04_03_18['ANO'] = 0

for index, row in df04_03_18.iterrows():
    df04_03_18['MES'] = 'ABRIL'
    df04_03_18['ANO'] = 2018

<ipython-input-190-c9651ef17526>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_18['MES'] = 0
<ipython-input-190-c9651ef17526>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_18['ANO'] = 0
<ipython-input-190-c9651ef17526>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_18['MES'] = 'ABRIL'
<ipython-input-190-c9651ef17526>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_18['ANO'] = 2018

In [191]:
df04_03_19 = df04[['BAIRROS', 'ABR_19_03']]

df04_03_19['MES'] = 0
df04_03_19['ANO'] = 0

for index, row in df04_03_19.iterrows():
    df04_03_19['MES'] = 'ABRIL'
    df04_03_19['ANO'] = 2019

<ipython-input-191-7b42580424eb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_19['MES'] = 0
<ipython-input-191-7b42580424eb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_19['ANO'] = 0
<ipython-input-191-7b42580424eb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_19['MES'] = 'ABRIL'
<ipython-input-191-7b42580424eb>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_03_19['ANO'] = 2019

In [192]:
df04_03_18.rename(columns={'ABR_18_03':'PRECO'}, inplace=True)

df04_03_19.rename(columns={'ABR_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [193]:
abril = df04_03_18.append(df04_03_19)

In [194]:
abril.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  8561.501537  ABRIL  2018
1  ALTO DA BOA VISTA  8132.162218  ABRIL  2018
2        BARRA FUNDA  8649.748518  ABRIL  2018
3         BELA VISTA  7771.295981  ABRIL  2018
4              BELÉM  6520.640084  ABRIL  2018

### Maio

In [195]:
df05_03_18 = df05[['BAIRROS', 'MAI_18_03']]

df05_03_18['MES'] = 0
df05_03_18['ANO'] = 0

for index, row in df05_03_18.iterrows():
    df05_03_18['MES'] = 'MAIO'
    df05_03_18['ANO'] = 2018

<ipython-input-195-497a9fa8ec41>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_18['MES'] = 0
<ipython-input-195-497a9fa8ec41>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_18['ANO'] = 0
<ipython-input-195-497a9fa8ec41>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_18['MES'] = 'MAIO'
<ipython-input-195-497a9fa8ec41>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_18['ANO'] = 2018

In [196]:
df05_03_19 = df05[['BAIRROS', 'MAI_19_03']]

df05_03_19['MES'] = 0
df05_03_19['ANO'] = 0

for index, row in df05_03_19.iterrows():
    df05_03_19['MES'] = 'MAIO'
    df05_03_19['ANO'] = 2019

<ipython-input-196-a631b6816d8c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_19['MES'] = 0
<ipython-input-196-a631b6816d8c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_19['ANO'] = 0
<ipython-input-196-a631b6816d8c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_19['MES'] = 'MAIO'
<ipython-input-196-a631b6816d8c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_03_19['ANO'] = 2019

In [197]:
df05_03_18.rename(columns={'MAI_18_03':'PRECO'}, inplace=True)

df05_03_19.rename(columns={'MAI_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [198]:
maio = df05_03_18.append(df05_03_19)

In [199]:
maio.head()

             BAIRROS        PRECO   MES   ANO
0          ACLIMAÇÃO  8517.621291  MAIO  2018
1  ALTO DA BOA VISTA  8151.113222  MAIO  2018
2        BARRA FUNDA  8578.589398  MAIO  2018
3         BELA VISTA  7750.964501  MAIO  2018
4              BELÉM  6538.962002  MAIO  2018

### Junho

In [200]:
df06_03_18 = df06[['BAIRROS', 'JUN_18_03']]

df06_03_18['MES'] = 0
df06_03_18['ANO'] = 0

for index, row in df06_03_18.iterrows():
    df06_03_18['MES'] = 'JUNHO'
    df06_03_18['ANO'] = 2018

<ipython-input-200-8a07b9a5f839>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_18['MES'] = 0
<ipython-input-200-8a07b9a5f839>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_18['ANO'] = 0
<ipython-input-200-8a07b9a5f839>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_18['MES'] = 'JUNHO'
<ipython-input-200-8a07b9a5f839>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_18['ANO'] = 2018

In [201]:
df06_03_19 = df06[['BAIRROS', 'JUN_19_03']]

df06_03_19['MES'] = 0
df06_03_19['ANO'] = 0

for index, row in df06_03_19.iterrows():
    df06_03_19['MES'] = 'JUNHO'
    df06_03_19['ANO'] = 2019

<ipython-input-201-a0eb690df572>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_19['MES'] = 0
<ipython-input-201-a0eb690df572>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_19['ANO'] = 0
<ipython-input-201-a0eb690df572>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_19['MES'] = 'JUNHO'
<ipython-input-201-a0eb690df572>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_03_19['ANO'] = 2019

In [202]:
df06_03_18.rename(columns={'JUN_18_03':'PRECO'}, inplace=True)

df06_03_19.rename(columns={'JUN_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [203]:
junho = df06_03_18.append(df06_03_19)

In [204]:
junho.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  8364.419196  JUNHO  2018
1  ALTO DA BOA VISTA  8080.202020  JUNHO  2018
2        BARRA FUNDA  8626.913527  JUNHO  2018
3         BELA VISTA  7706.520827  JUNHO  2018
4              BELÉM  6720.631704  JUNHO  2018

### Julho

In [205]:
df07_03_18 = df07[['BAIRROS', 'JUL_18_03']]

df07_03_18['MES'] = 0
df07_03_18['ANO'] = 0

for index, row in df07_03_18.iterrows():
    df07_03_18['MES'] = 'JULHO'
    df07_03_18['ANO'] = 2018

<ipython-input-205-cf6092e3615c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_18['MES'] = 0
<ipython-input-205-cf6092e3615c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_18['ANO'] = 0
<ipython-input-205-cf6092e3615c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_18['MES'] = 'JULHO'
<ipython-input-205-cf6092e3615c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_18['ANO'] = 2018

In [206]:
df07_03_19 = df07[['BAIRROS', 'JUL_19_03']]

df07_03_19['MES'] = 0
df07_03_19['ANO'] = 0

for index, row in df07_03_19.iterrows():
    df07_03_19['MES'] = 'JULHO'
    df07_03_19['ANO'] = 2019

<ipython-input-206-98e473339a8e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_19['MES'] = 0
<ipython-input-206-98e473339a8e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_19['ANO'] = 0
<ipython-input-206-98e473339a8e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_19['MES'] = 'JULHO'
<ipython-input-206-98e473339a8e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_03_19['ANO'] = 2019

In [207]:
df07_03_18.rename(columns={'JUL_18_03':'PRECO'}, inplace=True)

df07_03_19.rename(columns={'JUL_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [208]:
julho = df07_03_18.append(df07_03_19)

In [209]:
julho.head()

             BAIRROS        PRECO    MES   ANO
0          ACLIMAÇÃO  8459.878419  JULHO  2018
1  ALTO DA BOA VISTA  8174.144586  JULHO  2018
2        BARRA FUNDA  8703.474743  JULHO  2018
3         BELA VISTA  7775.836851  JULHO  2018
4              BELÉM  6700.770037  JULHO  2018

### Agosto

In [210]:
df08_03_18 = df08[['BAIRROS', 'AGO_18_03']]

df08_03_18['MES'] = 0
df08_03_18['ANO'] = 0

for index, row in df08_03_18.iterrows():
    df08_03_18['MES'] = 'AGOSTO'
    df08_03_18['ANO'] = 2018

<ipython-input-210-a01d0af2e846>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_18['MES'] = 0
<ipython-input-210-a01d0af2e846>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_18['ANO'] = 0
<ipython-input-210-a01d0af2e846>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_18['MES'] = 'AGOSTO'
<ipython-input-210-a01d0af2e846>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_18['ANO'] = 2018

In [211]:
df08_03_19 = df08[['BAIRROS', 'AGO_19_03']]

df08_03_19['MES'] = 0
df08_03_19['ANO'] = 0

for index, row in df08_03_19.iterrows():
    df08_03_19['MES'] = 'AGOSTO'
    df08_03_19['ANO'] = 2019

<ipython-input-211-17ecda48b118>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_19['MES'] = 0
<ipython-input-211-17ecda48b118>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_19['ANO'] = 0
<ipython-input-211-17ecda48b118>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_19['MES'] = 'AGOSTO'
<ipython-input-211-17ecda48b118>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_03_19['ANO'] = 2019

In [212]:
df08_03_18.rename(columns={'AGO_18_03':'PRECO'}, inplace=True)

df08_03_19.rename(columns={'AGO_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [213]:
agosto = df08_03_18.append(df08_03_19)

In [214]:
agosto.head()

             BAIRROS    PRECO     MES   ANO
0          ACLIMAÇÃO  8448.72  AGOSTO  2018
1  ALTO DA BOA VISTA  8190.68  AGOSTO  2018
2        BARRA FUNDA  8744.43  AGOSTO  2018
3         BELA VISTA  7814.85  AGOSTO  2018
4              BELÉM  6676.92  AGOSTO  2018

### Setembro

In [215]:
df09_03_18 = df09[['BAIRROS', 'SET_18_03']]

df09_03_18['MES'] = 0
df09_03_18['ANO'] = 0

for index, row in df09_03_18.iterrows():
    df09_03_18['MES'] = 'SETEMBRO'
    df09_03_18['ANO'] = 2018

<ipython-input-215-a71dccb3db2b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_18['MES'] = 0
<ipython-input-215-a71dccb3db2b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_18['ANO'] = 0
<ipython-input-215-a71dccb3db2b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_18['MES'] = 'SETEMBRO'
<ipython-input-215-a71dccb3db2b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_18['ANO'] = 2018

In [216]:
df09_03_19 = df09[['BAIRROS', 'SET_19_03']]

df09_03_19['MES'] = 0
df09_03_19['ANO'] = 0

for index, row in df09_03_19.iterrows():
    df09_03_19['MES'] = 'SETEMBRO'
    df09_03_19['ANO'] = 2019

<ipython-input-216-986ff43e2160>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_19['MES'] = 0
<ipython-input-216-986ff43e2160>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_19['ANO'] = 0
<ipython-input-216-986ff43e2160>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_19['MES'] = 'SETEMBRO'
<ipython-input-216-986ff43e2160>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_03_19['ANO'] = 2019

In [217]:
df09_03_18.rename(columns={'SET_18_03':'PRECO'}, inplace=True)

df09_03_19.rename(columns={'SET_19_03':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [218]:
setembro = df09_03_18.append(df09_03_19)

In [219]:
setembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  8334.92  SETEMBRO  2018
1  ALTO DA BOA VISTA  8132.27  SETEMBRO  2018
2        BARRA FUNDA  8687.82  SETEMBRO  2018
3         BELA VISTA  7733.07  SETEMBRO  2018
4              BELÉM  6486.16  SETEMBRO  2018

### Outubro

In [220]:
df10_03_18 = df10[['BAIRROS', 'OUT_18_03']]

df10_03_18['MES'] = 0
df10_03_18['ANO'] = 0

for index, row in df10_03_18.iterrows():
    df10_03_18['MES'] = 'OUTUBRO'
    df10_03_18['ANO'] = 2018

<ipython-input-220-2fbf69e2a9f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_18['MES'] = 0
<ipython-input-220-2fbf69e2a9f9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_18['ANO'] = 0
<ipython-input-220-2fbf69e2a9f9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_18['MES'] = 'OUTUBRO'
<ipython-input-220-2fbf69e2a9f9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_18['ANO'] = 2018

In [225]:
df10_03_19 = df10[['BAIRROS', 'OUT_19_03']]

df10_03_19['MES'] = 0
df10_03_19['ANO'] = 0

for index, row in df10_03_19.iterrows():
    df10_03_19['MES'] = 'OUTUBRO'
    df10_03_19['ANO'] = 2019

<ipython-input-225-8d666582fee0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_19['MES'] = 0
<ipython-input-225-8d666582fee0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_19['ANO'] = 0
<ipython-input-225-8d666582fee0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_19['MES'] = 'OUTUBRO'
<ipython-input-225-8d666582fee0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_03_19['ANO'] = 2019

In [226]:
df10_03_18.rename(columns={'OUT_18_03':'PRECO'}, inplace=True)

df10_03_19.rename(columns={'OUT_19_03':'PRECO'}, inplace=True)

In [227]:
outubro = df10_03_18.append(df10_03_19)

In [228]:
outubro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  8355.48  OUTUBRO  2018
1  ALTO DA BOA VISTA  8131.06  OUTUBRO  2018
2        BARRA FUNDA  8690.61  OUTUBRO  2018
3         BELA VISTA  7766.79  OUTUBRO  2018
4              BELÉM  6502.67  OUTUBRO  2018

### Novembro

In [229]:
df11_03_18 = df11[['BAIRROS', 'NOV_18_03']]

df11_03_18['MES'] = 0
df11_03_18['ANO'] = 0

for index, row in df11_03_18.iterrows():
    df11_03_18['MES'] = 'NOVEMBRO'
    df11_03_18['ANO'] = 2018

<ipython-input-229-fadc88a90532>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_18['MES'] = 0
<ipython-input-229-fadc88a90532>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_18['ANO'] = 0
<ipython-input-229-fadc88a90532>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_18['MES'] = 'NOVEMBRO'
<ipython-input-229-fadc88a90532>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_18['ANO'] = 2018

In [233]:
df11_03_19 = df11[['BAIRROS', 'NOV_19_03']]

df11_03_19['MES'] = 0
df11_03_19['ANO'] = 0

for index, row in df11_03_19.iterrows():
    df11_03_19['MES'] = 'NOVEMBRO'
    df11_03_19['ANO'] = 2019

<ipython-input-233-62cc4631c76c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_19['MES'] = 0
<ipython-input-233-62cc4631c76c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_19['ANO'] = 0
<ipython-input-233-62cc4631c76c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_19['MES'] = 'NOVEMBRO'
<ipython-input-233-62cc4631c76c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_03_19['ANO'] = 2019

In [234]:
df11_03_18.rename(columns={'NOV_18_03':'PRECO'}, inplace=True)

df11_03_19.rename(columns={'NOV_19_03':'PRECO'}, inplace=True)

In [235]:
novembro = df11_03_18.append(df11_03_19)

In [236]:
novembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  8336.47  NOVEMBRO  2018
1  ALTO DA BOA VISTA  8105.39  NOVEMBRO  2018
2        BARRA FUNDA   8681.9  NOVEMBRO  2018
3         BELA VISTA  7766.01  NOVEMBRO  2018
4              BELÉM  6491.16  NOVEMBRO  2018

### Dezembro

In [237]:
df12_03_18 = df12[['BAIRROS', 'DEZ_18_03']]

df12_03_18['MES'] = 0
df12_03_18['ANO'] = 0

for index, row in df12_03_18.iterrows():
    df12_03_18['MES'] = 'DEZEMBRO'
    df12_03_18['ANO'] = 2018

<ipython-input-237-9d98df024576>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_18['MES'] = 0
<ipython-input-237-9d98df024576>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_18['ANO'] = 0
<ipython-input-237-9d98df024576>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_18['MES'] = 'DEZEMBRO'
<ipython-input-237-9d98df024576>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_18['ANO'] = 2018

In [240]:
df12_03_19 = df12[['BAIRROS', 'DEZ_19_03']]

df12_03_19['MES'] = 0
df12_03_19['ANO'] = 0

for index, row in df12_03_19.iterrows():
    df12_03_19['MES'] = 'DEZEMBRO'
    df12_03_19['ANO'] = 2019

<ipython-input-240-b49c57608074>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_19['MES'] = 0
<ipython-input-240-b49c57608074>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_19['ANO'] = 0
<ipython-input-240-b49c57608074>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_19['MES'] = 'DEZEMBRO'
<ipython-input-240-b49c57608074>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_03_19['ANO'] = 2019

In [241]:
df12_03_18.rename(columns={'DEZ_18_03':'PRECO'}, inplace=True)

df12_03_19.rename(columns={'DEZ_19_03':'PRECO'}, inplace=True)

In [242]:
dezembro = df12_03_18.append(df12_03_19)

In [243]:
dezembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  8256.23  DEZEMBRO  2018
1  ALTO DA BOA VISTA  8018.67  DEZEMBRO  2018
2        BARRA FUNDA  8577.08  DEZEMBRO  2018
3         BELA VISTA  7570.37  DEZEMBRO  2018
4              BELÉM  6479.79  DEZEMBRO  2018

### Concatenando dataframes
Criação de dataframe dormitorio_01, que representa dados de imóveis com único dormitório.

In [244]:
dormitorio_03 = pd.concat([janeiro, fevereiro, marco, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro])

In [245]:
dormitorio_03.reset_index(drop=True, inplace=True)

In [246]:
dormitorio_03['n_dormitorios'] = 0

for index, row in dormitorio_03.iterrows():
    dormitorio_03['n_dormitorios'] = 3

In [247]:
dormitorio_03

                BAIRROS    PRECO       MES   ANO  n_dormitorios
0             ACLIMAÇÃO  8429.77   JANEIRO  2018              3
1     ALTO DA BOA VISTA  7995.22   JANEIRO  2018              3
2           BARRA FUNDA  8776.74   JANEIRO  2018              3
3            BELA VISTA  7694.73   JANEIRO  2018              3
4                 BELÉM  6559.89   JANEIRO  2018              3
...                 ...      ...       ...   ...            ...
1579       VILA OLÍMPIA  10696.1  DEZEMBRO  2019              3
1580      VILA PRUDENTE  6689.36  DEZEMBRO  2019              3
1581        VILA ROMANA  10012.1  DEZEMBRO  2019              3
1582         VILA SÔNIA  6462.87  DEZEMBRO  2019              3
1583   Fonte: Secovi-SP      NaN  DEZEMBRO  2019              3

[1584 rows x 5 columns]

### Dataframe 4 dormitórios

In [249]:
df01.head(1)

,BAIRROS,JAN_18_01,JAN_19_01,VAR (%)_01,JAN_18_02,JAN_19_02,VAR (%)_02,JAN_18_03,JAN_19_03,VAR (%)_03,JAN_18_04,JAN_19_04,VAR (%)_04
0,ACLIMAÇÃO,8664.17,8812.46,0.0171157,7699.85,7585.1794,-0.0148923,8429.77,8340.856638,-0.010547,9363.87,9368.55,0.000499848

### Janeiro

In [252]:
df01_04_18 = df01[['BAIRROS', 'JAN_18_04']]

df01_04_18['MES'] = 0
df01_04_18['ANO'] = 0

for index, row in df01_04_18.iterrows():
    df01_04_18['MES'] = 'JANEIRO'
    df01_04_18['ANO'] = 2018

<ipython-input-252-a7f509697aa2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_18['MES'] = 0
<ipython-input-252-a7f509697aa2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_18['ANO'] = 0
<ipython-input-252-a7f509697aa2>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_18['MES'] = 'JANEIRO'
<ipython-input-252-a7f509697aa2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_18['ANO'] = 2018

In [253]:
df01_04_19 = df01[['BAIRROS', 'JAN_19_04']]

df01_04_19['MES'] = 0
df01_04_19['ANO'] = 0

for index, row in df01_04_19.iterrows():
    df01_04_19['MES'] = 'JANEIRO'
    df01_04_19['ANO'] = 2019

<ipython-input-253-ce262604d2dd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_19['MES'] = 0
<ipython-input-253-ce262604d2dd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_19['ANO'] = 0
<ipython-input-253-ce262604d2dd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_19['MES'] = 'JANEIRO'
<ipython-input-253-ce262604d2dd>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df01_04_19['ANO'] = 2019

In [254]:
df01_04_18.rename(columns={'JAN_18_04':'PRECO'}, inplace=True)

df01_04_19.rename(columns={'JAN_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [255]:
janeiro = df01_04_18.append(df01_04_19)

In [256]:
janeiro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  9363.87  JANEIRO  2018
1  ALTO DA BOA VISTA  8314.68  JANEIRO  2018
2        BARRA FUNDA   9091.7  JANEIRO  2018
3         BELA VISTA  8009.97  JANEIRO  2018
4              BELÉM  6112.79  JANEIRO  2018

### Fevereiro

In [257]:
df02_04_18 = df02[['BAIRROS', 'FEV_18_04']]

df02_04_18['MES'] = 0
df02_04_18['ANO'] = 0

for index, row in df02_04_18.iterrows():
    df02_04_18['MES'] = 'FEVEREIRO'
    df02_04_18['ANO'] = 2018

<ipython-input-257-c67cdddff206>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_18['MES'] = 0
<ipython-input-257-c67cdddff206>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_18['ANO'] = 0
<ipython-input-257-c67cdddff206>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_18['MES'] = 'FEVEREIRO'
<ipython-input-257-c67cdddff206>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_18['ANO'] = 2018

In [258]:
df02_04_19 = df02[['BAIRROS', 'FEV_19_04']]

df02_04_19['MES'] = 0
df02_04_19['ANO'] = 0

for index, row in df02_04_19.iterrows():
    df02_04_19['MES'] = 'FEVEREIRO'
    df02_04_19['ANO'] = 2019

<ipython-input-258-7bb339fd2167>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_19['MES'] = 0
<ipython-input-258-7bb339fd2167>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_19['ANO'] = 0
<ipython-input-258-7bb339fd2167>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_19['MES'] = 'FEVEREIRO'
<ipython-input-258-7bb339fd2167>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df02_04_19['ANO'] = 2019

In [259]:
df02_04_18.rename(columns={'FEV_18_04':'PRECO'}, inplace=True)

df02_04_19.rename(columns={'FEV_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [260]:
fevereiro = df02_04_18.append(df02_04_19)

In [261]:
fevereiro.head()

             BAIRROS    PRECO        MES   ANO
0          ACLIMAÇÃO  9423.34  FEVEREIRO  2018
1  ALTO DA BOA VISTA  8363.64  FEVEREIRO  2018
2        BARRA FUNDA  9078.75  FEVEREIRO  2018
3         BELA VISTA  8004.78  FEVEREIRO  2018
4              BELÉM  6160.55  FEVEREIRO  2018

### Março

In [262]:
df03_04_18 = df03[['BAIRROS', 'MAR_18_04']]

df03_04_18['MES'] = 0
df03_04_18['ANO'] = 0

for index, row in df03_04_18.iterrows():
    df03_04_18['MES'] = 'MARCO'
    df03_04_18['ANO'] = 2018

<ipython-input-262-25cb26700b0b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_18['MES'] = 0
<ipython-input-262-25cb26700b0b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_18['ANO'] = 0
<ipython-input-262-25cb26700b0b>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_18['MES'] = 'MARCO'
<ipython-input-262-25cb26700b0b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_18['ANO'] = 2018

In [263]:
df03_04_19 = df03[['BAIRROS', 'MAR_19_04']]

df03_04_19['MES'] = 0
df03_04_19['ANO'] = 0

for index, row in df03_04_19.iterrows():
    df03_04_19['MES'] = 'MARCO'
    df03_04_19['ANO'] = 2019

<ipython-input-263-6c2e3ffcf931>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_19['MES'] = 0
<ipython-input-263-6c2e3ffcf931>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_19['ANO'] = 0
<ipython-input-263-6c2e3ffcf931>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_19['MES'] = 'MARCO'
<ipython-input-263-6c2e3ffcf931>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df03_04_19['ANO'] = 2019

In [264]:
df03_04_18.rename(columns={'MAR_18_04':'PRECO'}, inplace=True)

df03_04_19.rename(columns={'MAR_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [265]:
marco = df03_04_18.append(df03_04_19)

In [266]:
marco.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO   9507.3  MARCO  2018
1  ALTO DA BOA VISTA   8485.9  MARCO  2018
2        BARRA FUNDA  9196.94  MARCO  2018
3         BELA VISTA  8031.46  MARCO  2018
4              BELÉM   6404.7  MARCO  2018

### Abril

In [267]:
df04_04_18 = df04[['BAIRROS', 'ABR_18_04']]

df04_04_18['MES'] = 0
df04_04_18['ANO'] = 0

for index, row in df04_04_18.iterrows():
    df04_04_18['MES'] = 'ABRIL'
    df04_04_18['ANO'] = 2018

<ipython-input-267-7c668bfadccc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_18['MES'] = 0
<ipython-input-267-7c668bfadccc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_18['ANO'] = 0
<ipython-input-267-7c668bfadccc>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_18['MES'] = 'ABRIL'
<ipython-input-267-7c668bfadccc>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_18['ANO'] = 2018

In [268]:
df04_04_19 = df04[['BAIRROS', 'ABR_19_04']]

df04_04_19['MES'] = 0
df04_04_19['ANO'] = 0

for index, row in df04_04_19.iterrows():
    df04_04_19['MES'] = 'ABRIL'
    df04_04_19['ANO'] = 2019

<ipython-input-268-9191e6360673>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_19['MES'] = 0
<ipython-input-268-9191e6360673>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_19['ANO'] = 0
<ipython-input-268-9191e6360673>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_19['MES'] = 'ABRIL'
<ipython-input-268-9191e6360673>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04_04_19['ANO'] = 2019

In [269]:
df04_04_18.rename(columns={'ABR_18_04':'PRECO'}, inplace=True)

df04_04_19.rename(columns={'ABR_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [270]:
abril = df04_04_18.append(df04_04_19)

In [271]:
abril.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO  9532.28  ABRIL  2018
1  ALTO DA BOA VISTA  8527.42  ABRIL  2018
2        BARRA FUNDA  9090.08  ABRIL  2018
3         BELA VISTA  8052.85  ABRIL  2018
4              BELÉM  6423.74  ABRIL  2018

### Maio

In [272]:
df05_04_18 = df05[['BAIRROS', 'MAI_18_04']]

df05_04_18['MES'] = 0
df05_04_18['ANO'] = 0

for index, row in df05_04_18.iterrows():
    df05_04_18['MES'] = 'MAIO'
    df05_04_18['ANO'] = 2018

<ipython-input-272-4a98d6c39d10>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_18['MES'] = 0
<ipython-input-272-4a98d6c39d10>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_18['ANO'] = 0
<ipython-input-272-4a98d6c39d10>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_18['MES'] = 'MAIO'
<ipython-input-272-4a98d6c39d10>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_18['ANO'] = 2018

In [273]:
df05_04_19 = df05[['BAIRROS', 'MAI_19_04']]

df05_04_19['MES'] = 0
df05_04_19['ANO'] = 0

for index, row in df05_04_19.iterrows():
    df05_04_19['MES'] = 'MAIO'
    df05_04_19['ANO'] = 2019

<ipython-input-273-7e336ad76a8e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_19['MES'] = 0
<ipython-input-273-7e336ad76a8e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_19['ANO'] = 0
<ipython-input-273-7e336ad76a8e>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_19['MES'] = 'MAIO'
<ipython-input-273-7e336ad76a8e>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df05_04_19['ANO'] = 2019

In [274]:
df05_04_18.rename(columns={'MAI_18_04':'PRECO'}, inplace=True)

df05_04_19.rename(columns={'MAI_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [275]:
maio = df05_04_18.append(df05_04_19)

In [276]:
maio.head()

             BAIRROS    PRECO   MES   ANO
0          ACLIMAÇÃO  9539.42  MAIO  2018
1  ALTO DA BOA VISTA  8508.16  MAIO  2018
2        BARRA FUNDA  9074.59  MAIO  2018
3         BELA VISTA  8061.35  MAIO  2018
4              BELÉM  6354.52  MAIO  2018

### Junho

In [277]:
df06_04_18 = df06[['BAIRROS', 'JUN_18_04']]

df06_04_18['MES'] = 0
df06_04_18['ANO'] = 0

for index, row in df06_04_18.iterrows():
    df06_04_18['MES'] = 'JUNHO'
    df06_04_18['ANO'] = 2018

<ipython-input-277-4c415ae7db0a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_18['MES'] = 0
<ipython-input-277-4c415ae7db0a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_18['ANO'] = 0
<ipython-input-277-4c415ae7db0a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_18['MES'] = 'JUNHO'
<ipython-input-277-4c415ae7db0a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_18['ANO'] = 2018

In [278]:
df06_04_19 = df06[['BAIRROS', 'JUN_19_04']]

df06_04_19['MES'] = 0
df06_04_19['ANO'] = 0

for index, row in df06_04_19.iterrows():
    df06_04_19['MES'] = 'JUNHO'
    df06_04_19['ANO'] = 2019

<ipython-input-278-3a3fdd644b92>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_19['MES'] = 0
<ipython-input-278-3a3fdd644b92>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_19['ANO'] = 0
<ipython-input-278-3a3fdd644b92>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_19['MES'] = 'JUNHO'
<ipython-input-278-3a3fdd644b92>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df06_04_19['ANO'] = 2019

In [279]:
df06_04_18.rename(columns={'JUN_18_04':'PRECO'}, inplace=True)

df06_04_19.rename(columns={'JUN_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [280]:
junho = df06_04_18.append(df06_04_19)

In [281]:
junho.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO  9521.01  JUNHO  2018
1  ALTO DA BOA VISTA  8494.59  JUNHO  2018
2        BARRA FUNDA  9031.45  JUNHO  2018
3         BELA VISTA  8123.51  JUNHO  2018
4              BELÉM   6203.4  JUNHO  2018

### Julho

In [282]:
df07_04_18 = df07[['BAIRROS', 'JUL_18_04']]

df07_04_18['MES'] = 0
df07_04_18['ANO'] = 0

for index, row in df07_04_18.iterrows():
    df07_04_18['MES'] = 'JULHO'
    df07_04_18['ANO'] = 2018

<ipython-input-282-d8b154b5e553>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_18['MES'] = 0
<ipython-input-282-d8b154b5e553>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_18['ANO'] = 0
<ipython-input-282-d8b154b5e553>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_18['MES'] = 'JULHO'
<ipython-input-282-d8b154b5e553>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_18['ANO'] = 2018

In [283]:
df07_04_19 = df07[['BAIRROS', 'JUL_19_04']]

df07_04_19['MES'] = 0
df07_04_19['ANO'] = 0

for index, row in df07_04_19.iterrows():
    df07_04_19['MES'] = 'JULHO'
    df07_04_19['ANO'] = 2019

<ipython-input-283-13ccf3e624a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_19['MES'] = 0
<ipython-input-283-13ccf3e624a9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_19['ANO'] = 0
<ipython-input-283-13ccf3e624a9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_19['MES'] = 'JULHO'
<ipython-input-283-13ccf3e624a9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df07_04_19['ANO'] = 2019

In [284]:
df07_04_18.rename(columns={'JUL_18_04':'PRECO'}, inplace=True)

df07_04_19.rename(columns={'JUL_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [285]:
julho = df07_04_18.append(df07_04_19)

In [286]:
julho.head()

             BAIRROS    PRECO    MES   ANO
0          ACLIMAÇÃO  9454.61  JULHO  2018
1  ALTO DA BOA VISTA  8380.21  JULHO  2018
2        BARRA FUNDA  9104.85  JULHO  2018
3         BELA VISTA  8078.39  JULHO  2018
4              BELÉM  6247.41  JULHO  2018

### Agosto

In [287]:
df08_04_18 = df08[['BAIRROS', 'AGO_18_04']]

df08_04_18['MES'] = 0
df08_04_18['ANO'] = 0

for index, row in df08_04_18.iterrows():
    df08_04_18['MES'] = 'AGOSTO'
    df08_04_18['ANO'] = 2018

<ipython-input-287-bf0d44ca0bd9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_18['MES'] = 0
<ipython-input-287-bf0d44ca0bd9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_18['ANO'] = 0
<ipython-input-287-bf0d44ca0bd9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_18['MES'] = 'AGOSTO'
<ipython-input-287-bf0d44ca0bd9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_18['ANO'] = 2018

In [288]:
df08_04_19 = df08[['BAIRROS', 'AGO_19_04']]

df08_04_19['MES'] = 0
df08_04_19['ANO'] = 0

for index, row in df08_04_19.iterrows():
    df08_04_19['MES'] = 'AGOSTO'
    df08_04_19['ANO'] = 2019

<ipython-input-288-4cccbbd93626>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_19['MES'] = 0
<ipython-input-288-4cccbbd93626>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_19['ANO'] = 0
<ipython-input-288-4cccbbd93626>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_19['MES'] = 'AGOSTO'
<ipython-input-288-4cccbbd93626>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08_04_19['ANO'] = 2019

In [289]:
df08_04_18.rename(columns={'AGO_18_04':'PRECO'}, inplace=True)

df08_04_19.rename(columns={'AGO_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [290]:
agosto = df08_04_18.append(df08_04_19)

In [291]:
agosto.head()

             BAIRROS    PRECO     MES   ANO
0          ACLIMAÇÃO  9385.91  AGOSTO  2018
1  ALTO DA BOA VISTA   8312.2  AGOSTO  2018
2        BARRA FUNDA   9103.7  AGOSTO  2018
3         BELA VISTA  8024.37  AGOSTO  2018
4              BELÉM  6341.56  AGOSTO  2018

### Setembro

In [292]:
df09_04_18 = df09[['BAIRROS', 'SET_18_04']]

df09_04_18['MES'] = 0
df09_04_18['ANO'] = 0

for index, row in df09_04_18.iterrows():
    df09_04_18['MES'] = 'SETEMBRO'
    df09_04_18['ANO'] = 2018

<ipython-input-292-f91582c1d920>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_18['MES'] = 0
<ipython-input-292-f91582c1d920>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_18['ANO'] = 0
<ipython-input-292-f91582c1d920>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_18['MES'] = 'SETEMBRO'
<ipython-input-292-f91582c1d920>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_18['ANO'] = 2018

In [293]:
df09_04_19 = df09[['BAIRROS', 'SET_19_04']]

df09_04_19['MES'] = 0
df09_04_19['ANO'] = 0

for index, row in df09_04_19.iterrows():
    df09_04_19['MES'] = 'SETEMBRO'
    df09_04_19['ANO'] = 2019

<ipython-input-293-a7a2edae4c17>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_19['MES'] = 0
<ipython-input-293-a7a2edae4c17>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_19['ANO'] = 0
<ipython-input-293-a7a2edae4c17>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_19['MES'] = 'SETEMBRO'
<ipython-input-293-a7a2edae4c17>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df09_04_19['ANO'] = 2019

In [294]:
df09_04_18.rename(columns={'SET_18_04':'PRECO'}, inplace=True)

df09_04_19.rename(columns={'SET_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [295]:
setembro = df09_04_18.append(df09_04_19)

In [296]:
setembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  9288.95  SETEMBRO  2018
1  ALTO DA BOA VISTA  8141.57  SETEMBRO  2018
2        BARRA FUNDA  9020.53  SETEMBRO  2018
3         BELA VISTA  7908.13  SETEMBRO  2018
4              BELÉM  6357.31  SETEMBRO  2018

### Outubro

In [297]:
df10_04_18 = df10[['BAIRROS', 'OUT_18_04']]

df10_04_18['MES'] = 0
df10_04_18['ANO'] = 0

for index, row in df10_04_18.iterrows():
    df10_04_18['MES'] = 'OUTUBRO'
    df10_04_18['ANO'] = 2018

<ipython-input-297-dd1fb0f8ebac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_18['MES'] = 0
<ipython-input-297-dd1fb0f8ebac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_18['ANO'] = 0
<ipython-input-297-dd1fb0f8ebac>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_18['MES'] = 'OUTUBRO'
<ipython-input-297-dd1fb0f8ebac>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_18['ANO'] = 2018

In [298]:
df10_04_19 = df10[['BAIRROS', 'OUT_19_04']]

df10_04_19['MES'] = 0
df10_04_19['ANO'] = 0

for index, row in df10_04_19.iterrows():
    df10_04_19['MES'] = 'OUTUBRO'
    df10_04_19['ANO'] = 2019

<ipython-input-298-0c6ad87c382c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_19['MES'] = 0
<ipython-input-298-0c6ad87c382c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_19['ANO'] = 0
<ipython-input-298-0c6ad87c382c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_19['MES'] = 'OUTUBRO'
<ipython-input-298-0c6ad87c382c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10_04_19['ANO'] = 2019

In [299]:
df10_04_18.rename(columns={'OUT_18_04':'PRECO'}, inplace=True)

df10_04_19.rename(columns={'OUT_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [300]:
outubro = df10_04_18.append(df10_04_19)

In [301]:
outubro.head()

             BAIRROS    PRECO      MES   ANO
0          ACLIMAÇÃO  9294.08  OUTUBRO  2018
1  ALTO DA BOA VISTA  8133.19  OUTUBRO  2018
2        BARRA FUNDA  9050.36  OUTUBRO  2018
3         BELA VISTA  7870.21  OUTUBRO  2018
4              BELÉM  6309.16  OUTUBRO  2018

### Novembro

In [302]:
df11_04_18 = df11[['BAIRROS', 'NOV_18_04']]

df11_04_18['MES'] = 0
df11_04_18['ANO'] = 0

for index, row in df11_04_18.iterrows():
    df11_04_18['MES'] = 'NOVEMBRO'
    df11_04_18['ANO'] = 2018

<ipython-input-302-2cedcba6ff31>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_18['MES'] = 0
<ipython-input-302-2cedcba6ff31>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_18['ANO'] = 0
<ipython-input-302-2cedcba6ff31>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_18['MES'] = 'NOVEMBRO'
<ipython-input-302-2cedcba6ff31>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_18['ANO'] = 2018

In [303]:
df11_04_19 = df11[['BAIRROS', 'NOV_19_04']]

df11_04_19['MES'] = 0
df11_04_19['ANO'] = 0

for index, row in df11_04_19.iterrows():
    df11_04_19['MES'] = 'NOVEMBRO'
    df11_04_19['ANO'] = 2019

<ipython-input-303-56f86d8715e0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_19['MES'] = 0
<ipython-input-303-56f86d8715e0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_19['ANO'] = 0
<ipython-input-303-56f86d8715e0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_19['MES'] = 'NOVEMBRO'
<ipython-input-303-56f86d8715e0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11_04_19['ANO'] = 2019

In [304]:
df11_04_18.rename(columns={'NOV_18_04':'PRECO'}, inplace=True)

df11_04_19.rename(columns={'NOV_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [305]:
novembro = df11_04_18.append(df11_04_19)

In [306]:
novembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  9281.67  NOVEMBRO  2018
1  ALTO DA BOA VISTA  8123.86  NOVEMBRO  2018
2        BARRA FUNDA  9040.28  NOVEMBRO  2018
3         BELA VISTA   7886.2  NOVEMBRO  2018
4              BELÉM  6210.58  NOVEMBRO  2018

### Dezembro

In [307]:
df12_04_18 = df12[['BAIRROS', 'DEZ_18_04']]

df12_04_18['MES'] = 0
df12_04_18['ANO'] = 0

for index, row in df12_04_18.iterrows():
    df12_04_18['MES'] = 'DEZEMBRO'
    df12_04_18['ANO'] = 2018

<ipython-input-307-54acd958b64a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_18['MES'] = 0
<ipython-input-307-54acd958b64a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_18['ANO'] = 0
<ipython-input-307-54acd958b64a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_18['MES'] = 'DEZEMBRO'
<ipython-input-307-54acd958b64a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_18['ANO'] = 2018

In [308]:
df12_04_19 = df12[['BAIRROS', 'DEZ_19_04']]

df12_04_19['MES'] = 0
df12_04_19['ANO'] = 0

for index, row in df12_04_19.iterrows():
    df12_04_19['MES'] = 'DEZEMBRO'
    df12_04_19['ANO'] = 2019

<ipython-input-308-f83448b67507>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_19['MES'] = 0
<ipython-input-308-f83448b67507>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_19['ANO'] = 0
<ipython-input-308-f83448b67507>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_19['MES'] = 'DEZEMBRO'
<ipython-input-308-f83448b67507>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12_04_19['ANO'] = 2019

In [309]:
df12_04_18.rename(columns={'DEZ_18_04':'PRECO'}, inplace=True)

df12_04_19.rename(columns={'DEZ_19_04':'PRECO'}, inplace=True)

C:\Users\carol\Anaconda3.1\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [310]:
dezembro = df12_04_18.append(df12_04_19)

In [311]:
dezembro.head()

             BAIRROS    PRECO       MES   ANO
0          ACLIMAÇÃO  9335.52  DEZEMBRO  2018
1  ALTO DA BOA VISTA  8139.72  DEZEMBRO  2018
2        BARRA FUNDA  9025.65  DEZEMBRO  2018
3         BELA VISTA  7876.84  DEZEMBRO  2018
4              BELÉM  6375.27  DEZEMBRO  2018

### Concatenando Dataframes

In [312]:
dormitorio_04 = pd.concat([janeiro, fevereiro, marco, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro])

In [313]:
dormitorio_04.reset_index(drop=True, inplace=True)

In [314]:
dormitorio_04['n_dormitorios'] = 0

for index, row in dormitorio_03.iterrows():
    dormitorio_04['n_dormitorios'] = 4

In [315]:
dormitorio_04

                BAIRROS    PRECO       MES   ANO  n_dormitorios
0             ACLIMAÇÃO  9363.87   JANEIRO  2018              4
1     ALTO DA BOA VISTA  8314.68   JANEIRO  2018              4
2           BARRA FUNDA   9091.7   JANEIRO  2018              4
3            BELA VISTA  8009.97   JANEIRO  2018              4
4                 BELÉM  6112.79   JANEIRO  2018              4
...                 ...      ...       ...   ...            ...
1579       VILA OLÍMPIA  19012.7  DEZEMBRO  2019              4
1580      VILA PRUDENTE  6901.75  DEZEMBRO  2019              4
1581        VILA ROMANA  10769.6  DEZEMBRO  2019              4
1582         VILA SÔNIA  5459.22  DEZEMBRO  2019              4
1583   Fonte: Secovi-SP      NaN  DEZEMBRO  2019              4

[1584 rows x 5 columns]

### Concatenando dataframes dormitorios_0x

In [316]:
dormitorio_01.to_excel('dormitorio_01.xlsx')

In [317]:
dormitorio_02.to_excel('dormitorio_02.xlsx')

In [318]:
dormitorio_03.to_excel('dormitorio_03.xlsx')

In [319]:
dormitorio_04.to_excel('dormitorio_04.xlsx')

In [320]:
secovi = pd.concat([dormitorio_01, dormitorio_02, dormitorio_03, dormitorio_04], axis=0).reset_index(drop=0)

In [323]:
secovi.drop(index=6335, inplace=True)

In [324]:
secovi

      index              BAIRROS    PRECO       MES   ANO  n_dormitorios
0         0            ACLIMAÇÃO  8664.17   JANEIRO  2018              1
1         1    ALTO DA BOA VISTA  10175.4   JANEIRO  2018              1
2         2          BARRA FUNDA  9208.55   JANEIRO  2018              1
3         3           BELA VISTA  8465.83   JANEIRO  2018              1
4         4                BELÉM  5908.94   JANEIRO  2018              1
...     ...                  ...      ...       ...   ...            ...
6330   1578  VILA NOVA CONCEIÇÃO  19837.1  DEZEMBRO  2019              4
6331   1579         VILA OLÍMPIA  19012.7  DEZEMBRO  2019              4
6332   1580        VILA PRUDENTE  6901.75  DEZEMBRO  2019              4
6333   1581          VILA ROMANA  10769.6  DEZEMBRO  2019              4
6334   1582           VILA SÔNIA  5459.22  DEZEMBRO  2019              4

[6335 rows x 6 columns]

In [325]:
secovi.to_excel('secovi.xlsx')