In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from scipy.stats import boxcox

In [2]:
secovi = pd.read_excel('secovi.xlsx')

In [3]:
secovi.drop(columns=['Unnamed: 0', 'index'], inplace=True)

In [4]:
secovi.drop(secovi[secovi.BAIRROS == 'Fonte: Secovi-SP'].index, inplace=True)

In [5]:
secovi['BAIRROS'].unique()

array(['ACLIMAÇÃO', 'ALTO DA BOA VISTA', 'BARRA FUNDA', 'BELA VISTA',
       'BELÉM', 'BRÁS', 'BROOKLIN PAULISTA', 'BUTANTÃ', 'CAMPO BELO',
       'CAMPO GRANDE', 'CAMPO LIMPO', 'CANGAÍBA', 'CASA VERDE', 'CENTRO',
       'CHÁCARA KLABIN', 'CONSOLAÇÃO', 'FREGUESIA DO Ó', 'HIGIENÓPOLIS',
       'INTERLAGOS', 'IPIRANGA', 'ITAIM BIBI', 'ITAIM PAULISTA',
       'ITAQUERA', 'JABAQUARA', 'JAGUARÉ', 'JARDIM AMÉRICA',
       'JARDIM MARAJOARA', 'JARDIM PAULISTA', 'JARDIM SAÚDE', 'JARDINS',
       'LAPA', 'LIMÃO', 'MOEMA', 'MOOCA', 'MORUMBI', 'PANAMBY', 'PARAÍSO',
       'PENHA', 'PERDIZES', 'PINHEIROS', 'PIRITUBA', 'POMPÉIA',
       'REAL PARQUE', 'SACOMÃ', 'SANTA CECÍLIA', 'SANTANA', 'SÃO MATEUS',
       'SÃO MIGUEL PAULISTA', 'SAPOPEMBA', 'SAÚDE', 'TATUAPÉ', 'TUCURUVI',
       'VILA ANDRADE', 'VILA CARRÃO', 'VILA CLEMENTINO', 'VILA FORMOSA',
       'VILA LEOPOLDINA', 'VILA MARIA', 'VILA MARIANA', 'VILA MASCOTE',
       'VILA NOVA CONCEIÇÃO', 'VILA OLÍMPIA', 'VILA PRUDENTE',
       'VILA ROMANA', 'VILA SÔNIA'], dtype=object)

In [6]:
secovi.loc[secovi['PRECO'] == '***', 'PRECO'] = np.nan

In [7]:
secovi.reset_index(drop=True, inplace=True)

In [8]:
secovi=secovi.astype({'PRECO':'float'})

In [9]:
secovi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6240 entries, 0 to 6239
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BAIRROS        6240 non-null   object
 1   PRECO          5830 non-null   float64
 2   MES            6240 non-null   object
 3   ANO            6240 non-null   int64
 4   n_dormitorios  6240 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 243.9+ KB

In [10]:
dict_base = {'JANEIRO':'01', 'FEVEREIRO':'02', 'MARCO':'03', 'ABRIL':'04', 'MAIO':'05', 'JUNHO':'06', 'JULHO':'07',
             'AGOSTO':'08', 'SETEMBRO':'09', 'OUTUBRO':'10', 'NOVEMBRO':'11', 'DEZEMBRO':'12'}

In [11]:
secovi['DATA'] = secovi['MES'].map(dict_base) + '-01-' + secovi['ANO'].map(str)

In [12]:
secovi.head()

             BAIRROS         PRECO      MES   ANO  n_dormitorios        DATA
0          ACLIMAÇÃO   8664.170240  JANEIRO  2018              1  01-01-2018
1  ALTO DA BOA VISTA  10175.389170  JANEIRO  2018              1  01-01-2018
2        BARRA FUNDA   9208.546694  JANEIRO  2018              1  01-01-2018
3         BELA VISTA   8465.830326  JANEIRO  2018              1  01-01-2018
4              BELÉM   5908.937799  JANEIRO  2018              1  01-01-2018

In [13]:
secovi=secovi.astype({'DATA':'datetime64'})

In [14]:
secovi['DATA'].unique()

array(['2018-01-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2019-03-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2019-05-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2018-07-01T00:00:00.000000000', '2019-07-01T00:00:00.000000000',
       '2018-08-01T00:00:00.000000000', '2019-08-01T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2019-09-01T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2019-10-01T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2019-12-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [15]:
bairros = pd.read_excel('bairros.xlsx')

In [16]:
secovi = pd.merge(secovi, bairros, how='outer', on='BAIRROS')

In [17]:
secovi.head()

,BAIRROS,PRECO,MES,ANO,n_dormitorios,DATA,LONGITUDE,LATITUDE
0,ACLIMAÇÃO,8664.170240,JANEIRO,2018,1,2018-01-01,-46.6309,-23.5714
1,ACLIMAÇÃO,8812.463780,JANEIRO,2019,1,2019-01-01,-46.6309,-23.5714
2,ACLIMAÇÃO,8999.011405,FEVEREIRO,2018,1,2018-02-01,-46.6309,-23.5714
3,ACLIMAÇÃO,8799.872691,FEVEREIRO,2019,1,2019-02-01,-46.6309,-23.5714
4,ACLIMAÇÃO,8967.479700,MARCO,2018,1,2018-03-01,-46.6309,-23.5714

In [18]:
secovi.to_excel('secovi_bairros.xlsx')

In [19]:
secovi['DATA'].dt.month

0        1
1        1
2        2
3        2
4        3
        ..
6235    10
6236    11
6237    11
6238    12
6239    12
Name: DATA, Length: 6240, dtype: int64